<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tupã: {% block subtitulo %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/lib/bootstrap-icons-1.11.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/css/estilos.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>
<body class="d-flex flex-column min-vh-100">
    {% include "header.html" %}
    {% block carousel %}{% endblock %}
    <main class="container">
        {% block conteudo %}{% endblock %}
    </main>
    {% include "footer.html" %}
    <script src="/static/lib/bootstrap/js/bootstrap.bundle.js"></script>
</body>
</html>