{% extends "base.html" %}
{% block subtitulo %}Finalizar{% endblock %}

{% block carousel %}
<nav id="navbar-example2" class="navbar navbar-dark" style="background-color: #0F2B05;">
    <div class="container">
        <a class="navbar-brand" href="#">Finalizar</a>
    </div>
</nav>
{% endblock %}


{% block conteudo %}
<br><br>
<div class="container">
    <div class="card text-bg-light" style="max-width: 30rem; margin: 0 auto;">
        <main class="container my-5">
            <div class="title-container"> 
                <i class="bi bi-emoji-wink"></i>
                <h5 class="display-5"><b>Escolha seu plano</b></h5>  
            </div>
            <div class="divisoria-6"></div>
            
            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="card mb-3">
                        <div class="card-body d-flex align-items-center">
                            <input type="radio" name="plano" id="planoA" class="me-2">
                            <label for="planoA" class="card-title mb-0"><h5>Plano Premium</h5></label>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card mb-3">
                        <div class="card-body d-flex align-items-center">
                            <input type="radio" name="plano" id="planoB" class="me-2">
                            <label for="planoB" class="card-title mb-0"><h5>Plano Gratuito</h5></label>
                        </div>
                    </div>
                </div>
            </div>
            
        </main>
    </div>
</div>
<br>
{% endblock %}