<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="estilos.css">
    <title>Footer</title>
</head>

<body>
    <footer class="mt-auto text-bg" style="background-color: #0f2b05;">

        <div class="container-footer">
            <div class="row-footer">
                <div class="footer-col">
                    <br>
                    <a class="footer-brand" href="#">
                        <img src="/static/img/logo/logo_imagem_branco.svg" alt="Logotipo" height="150" style="text-align: start;">
                    </a>
                    
                </div>
                <div class="footer-col">
                    <h4>Suporte</h4>
                    <ul>
                        <li><a href="#">Fale Conosco</a></li>
                        <li><a href="#">Termos de Uso</a></li>
                        <li><a href="#">FAQ's</a></li>
                        
                    </ul>
                </div>
            
                <div class="footer-col">
                    <h4>Sociais</h4>
                    <div class="medias-socias">
                        
                        <a href="#"> <i class="fa fa-facebook"></i> </a>
                        <a href="#"> <i class="fa fa-instagram"></i> </a>
                        <a href="#"> <i class="fa fa-twitter"></i> </a>
                        <a href="#"> <i class="fa fa-linkedin"></i> </a>
                    </div>
                </div>
            
                <div class="footer-col">
                    <h4>Fique por dentro das novidades!</h4>
                    <div class="form-sub">
                        <form>
                            <input type="email" placeholder="Digite o seu e-mail" required>
                            <button>Cadastrar</button>
                            
                        </form>
                    </div>
                    <br>
                   <p class="rodape_direitos" style="color: rgb(170, 170, 170);" style="text-align: center;">Copyright © 2023 – Todos os Direitos Reservados.</p> 

                </div>
        </div>
        
    </footer>
</body>