<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/bootstrap-icons/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/custom_tupa.css">
    <title>Tupã</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white cor-navbar border-bottom" style="color:white">
        <div class="container-fluid px-5"> 
            <a class="navbar-brand mx-auto d-lg-none" href="/">
                <img src="/static/img/logo/logo_tupa.svg" alt="Logotipo" height="64">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="row w-100">
                    <div class="col-lg-5 d-flex justify-content-start align-items-center">
                        <ul class="navbar-nav d-flex justify-content-evenly w-100">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Início</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/produtos">Produtos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/artesao">Artesãos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/feed">Feed</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-2 d-none d-lg-flex justify-content-center align-items-center">
                        <a class="navbar-brand" href="/">
                            <img src="/static/img/logo/logo_tupa.svg" alt="Logotipo" height="64">
                        </a>
                    </div>


                    <div class="col-lg-5 d-flex justify-content-end align-items-center">
                        <ul class="navbar-nav d-flex justify-content-evenly w-100">
                            <li class="nav-item">
                                <a class="nav-link" href="/sejaartesao/tipoloja"></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/entrar">Conta</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/carrinho">
                                    <i class="bi bi-cart"></i>
                                </a>
                            </li>
                        </ul>


                        <form class="d-flex my-2 my-lg-0">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm" placeholder="Buscar..." />
                                <button class="btn border-1 border-start-0 cor-borda" type="button">
                                    <i class="bi bi-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
