{% if not message_successo: %}
{%- set message_successo = request.cookies.get("message_successo") -%}
{% endif %}
{% if not message_info: %}
{%- set message_aviso = request.cookies.get("message_info") -%}
{% endif %}
{% if not message_aviso: %}
{%- set message_aviso = request.cookies.get("message_aviso") -%}
{% endif %}
{% if not message_erro: %}
{%- set message_erro = request.cookies.get("message_erro") -%}
{% endif %}

{%- if message_successo: -%}
{%- include "includes/message_successo.html" with context -%}
{%- endif -%}
{%- if message_info: -%}
{%- include "includes/message_info.html" with context -%}
{%- endif -%}
{%- if message_aviso: -%}
{%- include "includes/message_aviso.html" with context -%}
{%- endif -%}
{%- if message_erro: -%}
{%- include "includes/message_erro.html" with context -%}
{%- endif -%}