{% extends "pages/base.html" %}
{% block subtitulo %}Demandas Atendidas{% endblock %}
{% block carousel %}

<nav id="navbar-example2" class="navbar navbar-dark" style="background-color: #0F2B05;">
  <div class="container">
      <a class="navbar-brand">Demandas Não Atendidas</a>
  </div>
</nav>

<body class="d-flex flex-column min-vh-100 bg-green">
  <main class="d-flex flex-column flex-grow-1">
      <div class="d-flex flex-grow-1">
          <aside class="coluna-esquerda p-3 d-flex flex-column justify-content-between bg-white mr-5">
              <div>
                  <div class="profile-section mb-3">
                      <i class="bi bi-person-circle custom-icon" class="img-thumbnail rounded-full" style="color: #0F2B05;"></i>
                  </div>
                  <p class="text-dark-beige" style="font-size:5;">Página Principal</p>
                  <nav class="nav nav-pills flex-column mt-2">
                    <a class="nav-link text-dark-beige" href="/feed/home"><i class="bi bi-plus-square"></i> Adicionar Demanda</a>
                  </nav>
                  <nav class="nav nav-pills flex-column mt-3">
                    <span class="text-dark-beige"><i></i>Postagens Antigas</span>
                    <a class="nav-link text-dark-beige" href="/feed/demandasatendidas"><i class="bi bi-journal-check"></i> Atendidas</a>
                    <a class="nav-link text-dark-beige" href="/feed/demandasnaoatendidas"><i class="bi bi-journal-check"></i><strong> Não Atendidas</strong></a>
                  </nav>
                  <nav class="nav nav-pills flex-column mt-3">
                    <span class="text-dark-beige"><i></i>Atendimento ao cliente</span>
                    <a class="nav-link text-dark-beige" href="/artesaos/centraldoartesao/chat"><i class="bi bi-chat-square-text"></i> Chat</a>
                </nav>
              </div>

          </aside>
            <section class="flex-grow-1 p-3 bg-light">
              
              <div class="card bg-white card-externo" style="padding: 30px;">
                <div class="card-body">
                    <section class="user-comment-section p-3 bg-white mb-4">
                        <div class="d-flex align-items-start">

                          <img src="/static/img/outros/images.jfif" alt="Foto de Perfil" class="rounded-circle" style="width: 50px; height: 50px; margin-right: 10px;">
                      

                          <div>
    
                            <div class="d-flex align-items-center">
                              <strong class="mr-2">Pierre Bourdie Giro Grilo</strong>
                              <span class="text-muted" style="font-size: 12px;"> @GirinoBourdie • 2 de julho</span>
                            </div>
                      

                            <p class="mt-2 mb-2">Gostaria de adquirir uma escultura de capivara em madeira parecida com essa para o meu filho, ele gosta muito de animais seria o presente perfeito.</p>
                            <p class="mt-2 mb-2">-Gostaria tivesse um acabamento em verniz.</p>
                            <p class="mt-2 mb-2">-Quero a escultura em tamanho médio.</p>
                      

                            <div class="d-flex">
                              <img src="/static/img/Produtos/ProdutosCasa/capivara.webp" alt="Foto da Bolsa 1" class="img-thumbnail product-image" style="width: 180px; height: auto; margin-right: 10px;" onclick="openModal(this)">
                              <img src="/static/img/Produtos/ProdutosCasa/capivara 49.jfif"Foto da Bolsa 2" class="img-thumbnail product-image" style="width: 180px; height: auto;" onclick="openModal(this)">
                          </div>

                          <div class="button-group">
                            <a href="/feed/demandasnaoatendidas" class="big-button-green-helena">Republicar</a>
                            <a href="/feed/home" class="big-button-red">Excluir</a>
                          </div>
                      
                      </section>


                      <div id="imageModal" class="modal" onclick="closeModal()">
                        <img class="modal-content" id="modalImage">
                      </div>
                      

                     
            </section>

            <style>
              .btn-custom {
                  background-color: white; 
                  color: #868686; 
                  border: none; 
                  font-size: 1.25rem; 
                  font-weight: bold; 
                  padding: 0.75rem 1.5rem; 
              }
              
              .btn-custom:hover {
                  background-color: #e0e0e0; 
                  border-color: #7c7c7c; 
                  color: #777777; 
              }

              .card-externo {
                min-height: 300px; 
                padding-bottom: 2rem;
                border:none;
              }
              
              .custom-tab {
                font-size: 1.25rem; 
                color: #6c757d; 
                background-color: transparent; 
                border: none; 
              }

              .custom-tab.active {
    
                background-color: transparent; 
                border: none; 
              }

              .modal {
                display: none;
                position: fixed;
                z-index: 1000;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.8);
                align-items: center;
                justify-content: center;
            }
        
            .modal-content {
                max-width: 60%;
                max-height: 60%;
                border-radius: 8px;
                transition: all 0.3s ease;
            }
        
            .product-image {
                cursor: pointer;
                transition: transform 0.2s ease;
            }
        
            .product-image:hover {
                transform: scale(1.05);
            }

            .button-group {
              justify-content: center; 
              gap: 10px; 
              margin-top: 20px; 
          }
      
          .big-button-green-helena {
              display: inline-block;
              padding: 10px 20px;
              font-size: 16px;
              font-weight: bold;
              text-align: center;
              color: white;
              background-color: #0F2B05; 
              border: none;
              border-radius: 5px;
              text-decoration: none;
              transition: background-color 0.3s;
          }
      
          .big-button-green:hover {
              background-color: #0D2404; 
          }
      
          .big-button-red {
              display: inline-block;
              padding: 10px 20px;
              font-size: 16px;
              font-weight: bold;
              text-align: center;
              color: white;
              background-color: #D9534F; 
              border: none;
              border-radius: 5px;
              text-decoration: none;
              transition: background-color 0.3s;
          }
      
          .big-button-red:hover {
              background-color: #C9302C; 
          }
              
             </style>

            <script>
              document.addEventListener('DOMContentLoaded', function () {
                var tabs = document.querySelectorAll('.nav-link');
                tabs.forEach(function (tab) {
                  tab.addEventListener('click', function () {
                    tabs.forEach(function (t) {
                      t.classList.remove('active');
                    });
                    tab.classList.add('active');
                  });
                });
              });
              
                
                function openModal(img) {
                  var modal = document.getElementById("imageModal");
                  var modalImg = document.getElementById("modalImage");
                  modal.style.display = "flex";
                  modalImg.src = img.src;
              }

             
              function closeModal() {
                  var modal = document.getElementById("imageModal");
                  modal.style.display = "none";
              }
              
            </script>

        </div>
    </main>
</body>

{% endblock %}
