{% extends "shared/pages/base.html" %}
{% block subtitulo %}Artesãos{% endblock %}
{% block carousel %}
<nav id="navbar-example2" class="navbar navbar-dark" style="background-color: #0F2B05;">
    <div class="container">
        <a class="navbar-brand">Artesãos</a>
    </div>
</nav>
{% endblock %}

{% block conteudo %}
<main class="container my-5">
    <div class="title-container"> 
        <h5 class="display-5"><b>REGIÕES</b></h5> 
        <div class="divisoria-3"></div> 
        <h5 class="display-6">
            <a href="/regioes" style="color: inherit;"><b>Ver tudo</b></a>
        </h5>   
    </div> 
<br> 
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-3 row-cols-xxl-3 g-3">
        <div class="col">
            <div class="card">
                <a href="/loja/produto">
                    <img src="/static/img/regioes/nordeste.png" class="card-img-top w-200 abaproduto-img">
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a href="/loja/produto">
                    <img src="/static/img/regioes/sudeste.png" class="card-img-top w-200 abaproduto-img">
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a href="/loja/produto">
                    <img src="/static/img/regioes/norte.png" class="card-img-top w-200 abaproduto-img">
                </a>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="title-container"> 
        <h5 class="display-5"><b>GRUPOS E COMUNIDADES</b></h5> 
        <div class="divisoria-2"></div> 
        <h5 class="display-6">
            <a href="/gruposcomunidades" style="color: inherit;"><b>Ver tudo</b></a>
        </h5>  
    </div> 
<br> 
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-3 row-cols-xxl-3 g-3">
        <div class="col">
            <div class="card">
                <a href="/loja/produto">
                    <img src="/static/img/Produtos/GruposComunidades/indigenas.png" class="card-img-top w-200 abaproduto-img">
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a href="/loja/produto">
                    <img src="/static/img/Produtos/GruposComunidades/cipozeiros.png" class="card-img-top w-200 abaproduto-img">
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a href="/loja/produto">
                    <img src="/static/img/Produtos/GruposComunidades/ribeirinhos.png" class="card-img-top w-200 abaproduto-img">
                </a>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="title-container"> 
        <h5 class="display-5"><b>DESTAQUES</b></h5> 
        <div class="divisoria-3"></div> 
        <h5 class="display-6">
            <a href="/destaques" style="color: inherit;"><b>Ver tudo</b></a>
        </h5>   
    </div> 
<br> 
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-3 row-cols-xxl-3 g-3">
        <div class="col">
            <div class="card">
                <a href="/loja/produto">
                    <img src="/static/img/Produtos/MateriaPrima/ceramica.png" class="card-img-top w-200 abaproduto-img">
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a href="/loja/produto">
                    <img src="/static/img/Produtos/GruposComunidades/quilombolas.png" class="card-img-top w-200 abaproduto-img">
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a href="/loja/produto">
                    <img src="/static/img/Produtos/Categorias/moveis.png" class="card-img-top w-200 abaproduto-img">
                </a>
            </div>
        </div>
    </div>
    <br>
    <hr>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <div class="container mt-5">
        <!-- Card 1 -->
        <div class="card mb-3 fixed-card">
            <div class="row g-0">
                <div class="col-md-3 d-flex justify-content-center align-items-center">
                    <a href="/perfilloja">
                        <img src="/static/img/logo/icon2.png" class="img-fluid rounded-circle" alt="Foto de Perfil">
                    </a>
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h5 class="card-title d-flex align-items-center">
                            <strong>Kátia Nunes</strong>
                            <span class="ms-3">
                       
                                <i class="fas fa-star text-warning"></i>
                                <i class="fas fa-star text-warning"></i>
                                <i class="fas fa-star text-warning"></i>
                                <i class="fas fa-star text-warning"></i>
                                <i class="fas fa-star-half-alt text-warning"></i>
                            </span>
                        </h5>
                        <p class="card-text">Produtora de peças em cerâmica</p>
                        <p class="card-text"><strong>Especialidade(s):</strong> Cerâmica</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3 fixed-card">
            <div class="row g-0">
                <div class="col-md-3 d-flex justify-content-center align-items-center">
                    <a href="/perfilloja">
                        <img src="/static/img/logo/icon.png" class="img-fluid rounded-circle" alt="Foto de Perfil">
                    </a>
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h5 class="card-title d-flex align-items-center">
                            <strong>Vasos Brasil</strong>
                            <span class="ms-3">
                                <i class="fas fa-star text-warning"></i>
                                <i class="fas fa-star text-warning"></i>
                                <i class="fas fa-star text-warning"></i>
                                <i class="fas fa-star text-warning"></i>
                            </span>
                        </h5>
                        <p class="card-text">Pequeno produtor de vasos em cerâmica.</p>
                        <p class="card-text"><strong>Especialidade(s):</strong> Vasos de Cerâmica</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="card mb-3 fixed-card">
            <div class="row g-0">
                <div class="col-md-3 d-flex justify-content-center align-items-center">
                    <a href="/perfilloja">
                        <img src="/static/img/logo/icon2.png" class="img-fluid rounded-circle" alt="Foto de Perfil">
                    </a>
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h5 class="card-title d-flex align-items-center">
                            <strong>Amigurimi</strong>
                            <span class="ms-3">
                              
                                <i class="fas fa-star text-warning"></i>
                                <i class="fas fa-star text-warning"></i>
                                <i class="fas fa-star text-warning"></i>
                            </span>
                        </h5>
                        <p class="card-text">Produtora de peças em cerâmica</p>
                        <p class="card-text"><strong>Especialidade(s):</strong> Cerâmica</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <style>
        .fixed-card {
            width: 100%;
            max-width: 8000px; 
            height: 200px; 
            padding: 15px; 
        }
        .fixed-card img {
            width: 150px; 
            height: 150px; 
            object-fit: cover; 
            margin-right: 15px; 
        }
    </style>

    <br>
    <br>
</main>
{% endblock %}
