{% extends "pages/base.html" %}
{% block subtitulo %}Artesãos{% endblock %}
{% block carousel %}
<nav id="navbar-example2" class="navbar navbar-dark" style="background-color: #0F2B05;">
    <div class="container">
        <a class="navbar-brand" href="#">Artesãos</a>
    </div>
</nav>
{% endblock %}

{% block conteudo %}
<main class="container my-5">
    <div class="title-container"> 
        <h5 class="display-5"><b>CATEGORIAS</b></h5> 
        <div class="divisoria-3"></div> 
        <h5 class="display-6"><b>Ver tudo</b></h5> 
    </div> 
<br> 
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-3 row-cols-xxl-3 g-3">
        <div class="col">
            <div class="card">
                <a href="/loja/produto">
                    <img src="/static/img/PagProdutos_categorias/moveis.png" class="card-img-top w-200 abaproduto-img">
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a href="/loja/produto">
                    <img src="/static/img/PagProdutos_categorias/bordados.png" class="card-img-top w-200 abaproduto-img">
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a href="/loja/produto">
                    <img src="/static/img/PagProdutos_categorias/velas.png" class="card-img-top w-200 abaproduto-img">
                </a>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="title-container"> 
        <h5 class="display-5"><b>MATÉRIA-PRIMA</b></h5> 
        <div class="divisoria-3"></div> 
        <h5 class="display-6"><b>Ver tudo</b></h5> 
    </div> 
<br> 
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-3 row-cols-xxl-3 g-3">
        <div class="col">
            <div class="card">
                <a href="/loja/produto">
                    <img src="/static/img/PagProdutos_materiaprima/ceramica.png" class="card-img-top w-200 abaproduto-img">
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a href="/loja/produto">
                    <img src="/static/img/PagProdutos_materiaprima/fibras.png" class="card-img-top w-200 abaproduto-img">
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a href="/loja/produto">
                    <img src="/static/img/PagProdutos_materiaprima/madeira.png" class="card-img-top w-200 abaproduto-img">
                </a>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="title-container"> 
        <h5 class="display-5"><b>GRUPOS E COMUNIDADES</b></h5> 
        <div class="divisoria-2"></div> 
        <h5 class="display-6"><b>Ver tudo</b></h5> 
    </div> 
<br> 
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-3 row-cols-xxl-3 g-3">
        <div class="col">
            <div class="card">
                <a href="/loja/produto">
                    <img src="/static/img/PagProdutos_gruposcomunidades/indigenas.png" class="card-img-top w-200 abaproduto-img">
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a href="/loja/produto">
                    <img src="/static/img/PagProdutos_gruposcomunidades/cipozeiros.png" class="card-img-top w-200 abaproduto-img">
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a href="/loja/produto">
                    <img src="/static/img/PagProdutos_gruposcomunidades/ribeirinhos.png" class="card-img-top w-200 abaproduto-img">
                </a>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="title-container"> 
        <h5 class="display-5"><b>PRODUTOS PARA CASA</b></h5> 
        <div class="divisoria-2"></div> 
        <h5 class="display-6"><b>Ver tudo</b></h5> 
    </div> 
<br> 
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-4 g-3">
        <div class="col">
            <div class="card">
                <a href="/loja/produto">
                    <img src="/static/img/produtos_HomePage/Column Vase.jpg" class="card-img-top w-100 produto-img">
                </a>
                <div class="card-body">
                    <h5 class="card-title text-center mb-4">
                        <a href="/loja/produto" class="text-decoration-none text-black">Vaso de Cerâmica</a>
                    </h5>
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="lead mb-0">R$ 250,00</p>
                        <a href="/loja/carrinho" class="btn btn-light btn-heart">
                            <i class="bi bi-heart"></i>
                        </a>
                    </div>                                     
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a href="/loja/produto">
                    <img src="/static/img/produtos_HomePage/Column Vase.jpg" class="card-img-top w-100 produto-img">
                </a>
                <div class="card-body">
                    <h5 class="card-title text-center mb-4">
                        <a href="/loja/produto" class="text-decoration-none text-black">Vaso de Cerâmica</a>
                    </h5>
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="lead mb-0">R$ 250,00</p>
                        <a href="/loja/carrinho" class="btn btn-light btn-heart">
                            <i class="bi bi-heart"></i>
                        </a>
                    </div>                                     
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a href="/loja/produto">
                    <img src="/static/img/produtos_HomePage/Column Vase.jpg" class="card-img-top w-100 produto-img">
                </a>
                <div class="card-body">
                    <h5 class="card-title text-center mb-4">
                        <a href="/loja/produto" class="text-decoration-none text-black">Vaso de Cerâmica</a>
                    </h5>
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="lead mb-0">R$ 250,00</p>
                        <a href="/loja/carrinho" class="btn btn-light btn-heart">
                            <i class="bi bi-heart"></i>
                        </a>
                    </div>                                     
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a href="/loja/produto">
                    <img src="/static/img/produtos_HomePage/Column Vase.jpg" class="card-img-top w-100 produto-img">
                </a>
                <div class="card-body">
                    <h5 class="card-title text-center mb-4">
                        <a href="/loja/produto" class="text-decoration-none text-black">Vaso de Cerâmica</a>
                    </h5>
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="lead mb-0">R$ 250,00</p>
                        <a href="/loja/carrinho" class="btn btn-light btn-heart">
                            <i class="bi bi-heart"></i>
                        </a>
                    </div>                                     
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="title-container"> 
        <h5 class="display-5"><b>PRODUTOS PARA O CORPO</b></h5> 
        <div class="divisoria-2"></div> 
        <h5 class="display-6"><b>Ver tudo</b></h5> 
    </div> 
<br> 
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-4 g-3">
        <div class="col">
            <div class="card">
                <a href="/loja/produto">
                    <img src="/static/img/produtos_HomePage/Column Vase.jpg" class="card-img-top w-100 produto-img">
                </a>
                <div class="card-body">
                    <h5 class="card-title text-center mb-4">
                        <a href="/loja/produto" class="text-decoration-none text-black">Vaso de Cerâmica</a>
                    </h5>
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="lead mb-0">R$ 250,00</p>
                        <a href="/loja/carrinho" class="btn btn-light btn-heart">
                            <i class="bi bi-heart"></i>
                        </a>
                    </div>                                     
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a href="/loja/produto">
                    <img src="/static/img/produtos_HomePage/Column Vase.jpg" class="card-img-top w-100 produto-img">
                </a>
                <div class="card-body">
                    <h5 class="card-title text-center mb-4">
                        <a href="/loja/produto" class="text-decoration-none text-black">Vaso de Cerâmica</a>
                    </h5>
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="lead mb-0">R$ 250,00</p>
                        <a href="/loja/carrinho" class="btn btn-light btn-heart">
                            <i class="bi bi-heart"></i>
                        </a>
                    </div>                                     
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a href="/loja/produto">
                    <img src="/static/img/produtos_HomePage/Column Vase.jpg" class="card-img-top w-100 produto-img">
                </a>
                <div class="card-body">
                    <h5 class="card-title text-center mb-4">
                        <a href="/loja/produto" class="text-decoration-none text-black">Vaso de Cerâmica</a>
                    </h5>
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="lead mb-0">R$ 250,00</p>
                        <a href="/loja/carrinho" class="btn btn-light btn-heart">
                            <i class="bi bi-heart"></i>
                        </a>
                    </div>                                     
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a href="/loja/produto">
                    <img src="/static/img/produtos_HomePage/Column Vase.jpg" class="card-img-top w-100 produto-img">
                </a>
                <div class="card-body">
                    <h5 class="card-title text-center mb-4">
                        <a href="/loja/produto" class="text-decoration-none text-black">Vaso de Cerâmica</a>
                    </h5>
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="lead mb-0">R$ 250,00</p>
                        <a href="/loja/carrinho" class="btn btn-light btn-heart">
                            <i class="bi bi-heart"></i>
                        </a>
                    </div>                                     
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}
