{% extends "pages/base.html" %}
{% block subtitulo %}Artesãos{% endblock %}
{% block carousel %}
<nav id="navbar-example2" class="navbar navbar-dark" style="background-color: #0F2B05;">
    <div class="container">
        <a class="navbar-brand">Artesãos</a>
    </div>
</nav>
{% endblock %}

{% block conteudo %}
<main class="container my-5">
    <div class="title-container"> 
        <h5 class="display-5"><b>REGIÕES</b></h5> 
        <div class="divisoria-3"></div> 
        <h5 class="display-6">
            <a href="#" style="color: inherit;"><b>Ver tudo</b></a>
        </h5>   
    </div> 
<br> 
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-3 row-cols-xxl-3 g-3">
        <div class="col">
            <div class="card">
                <a href="/loja/produto">
                    <img src="/static/img/regioes/nordeste.png" class="card-img-top w-200 abaproduto-img">
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a href="/loja/produto">
                    <img src="/static/img/regioes/sudeste.png" class="card-img-top w-200 abaproduto-img">
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a href="/loja/produto">
                    <img src="/static/img/regioes/norte.png" class="card-img-top w-200 abaproduto-img">
                </a>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="title-container"> 
        <h5 class="display-5"><b>GRUPOS E COMUNIDADES</b></h5> 
        <div class="divisoria-2"></div> 
        <h5 class="display-6">
            <a href="#" style="color: inherit;"><b>Ver tudo</b></a>
        </h5>  
    </div> 
<br> 
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-3 row-cols-xxl-3 g-3">
        <div class="col">
            <div class="card">
                <a href="/loja/produto">
                    <img src="/static/img/Produtos/GruposComunidades/indigenas.png" class="card-img-top w-200 abaproduto-img">
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a href="/loja/produto">
                    <img src="/static/img/Produtos/GruposComunidades/cipozeiros.png" class="card-img-top w-200 abaproduto-img">
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a href="/loja/produto">
                    <img src="/static/img/Produtos/GruposComunidades/ribeirinhos.png" class="card-img-top w-200 abaproduto-img">
                </a>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="title-container"> 
        <h5 class="display-5"><b>DESTAQUES</b></h5> 
        <div class="divisoria-3"></div> 
        <h5 class="display-6">
            <a href="#" style="color: inherit;"><b>Ver tudo</b></a>
        </h5>   
    </div> 
<br> 
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-3 row-cols-xxl-3 g-3">
        <div class="col">
            <div class="card">
                <a href="/loja/produto">
                    <img src="/static/img/Produtos/MateriaPrima/ceramica.png" class="card-img-top w-200 abaproduto-img">
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a href="/loja/produto">
                    <img src="/static/img/Produtos/GruposComunidades/quilombolas.png" class="card-img-top w-200 abaproduto-img">
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a href="/loja/produto">
                    <img src="/static/img/Produtos/Categorias/moveis.png" class="card-img-top w-200 abaproduto-img">
                </a>
            </div>
        </div>
    </div>
    <br>
    <br>
{% endblock %}
