{% extends "pages/base.html" %}
{% block subtitulo %}Entrar{% endblock %}
{% block conteudo %}

<body> 
    <div class="background-image"></div>
    <div class="container">
        <div class="row w-100 d-flex justify-content-center">
            
            <main class="container my-100 d-flex justify-content-center align-items-center" style="min-height: 90vh;">
                <div class="col-12 col-md-8 col-lg-5">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title text-center">
                                    <form method="post">
                                        <br>
                                        <div class="formulario-inicio">  
                                            <input type="email" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline" required placeholder="Email">
                                        </div>
                                        <div class="formulario-inicio">  
                                            <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline" required placeholder="Senha">
                                        </div>
                                        <br> 
                                        <div>
                                            <input type="submit" value="Enviar" class="big-button-green">
                                        </div>
                                        <div class="conta p">
                                        <br>
                                        <p>
                                            <a href="/entrar/esquecisenha" style="color: inherit;">Esqueceu a senha?</a>
                                        </p>                                                                              
                                        <hr class="divisoria-1"> 
                                        <p>
                                            Ainda não possui cadastro?
                                        </p>
                                        </div>                                       
                                        <div>
                                            <a href="/entrar/cadastro" value="Cadastre-se" class="big-button-gray">Cadastre-se</a>
                                        </div>
                                        <br>
                                    </form>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </main>                              
        </div>
    </div>
</body>
    
{%endblock%}