{% extends "shared/pages/base.html" %}
{% block subtitulo %}Cadastro{% endblock %}
{% from 'shared/macros.html' import input, button, input_text, input_date, input_email, input_password, input_select %}
{% block conteudo %}

<div class="position-absolute top-0 start-0 min-vh-100 min-vw-100 bg-folhas"></div>
<div class="row d-flex justify-content-center my-4">
    <div class="col-12 col-md-8 col-lg-5">
        <div class="bg-white rounded-3 pb-3 p-4">
            <ul class="nav nav-tabs w-100" id="myTab" role="tablist">
                <li class="nav-item w-50" role="presentation">
                    <button class="nav-link active w-100" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                        type="button" role="tab" aria-controls="home" aria-selected="true">
                        <i class="bi bi-person d-block" style="font-size:60px"></i>
                        <h2 class="display-5">Cliente</h2>
                    </button>
                </li>
                <li class="nav-item w-50" role="presentation">
                    <button class="nav-link w-100" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                        type="button" role="tab" aria-controls="profile" aria-selected="false">
                        <i class="bi bi-shop d-block" style="font-size:60px"></i>
                        <h2 class="display-5">Artesão</h2>
                    </button>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <form method="post" action="/post_cadastrar_cliente"> <br> 
                        {{ input_text('nome', 'Nome', attributes="required autofocus data-mask='nome'") }}
                        {{ input_date('data_nascimento', 'Data de Nascimento', attributes="required autofocus") }}
                        {{ input_text('cpf', 'CPF', attributes="required autofocus data-mask='cpf'") }}
                        {{ input_email('email', 'Email', 'required') }}
                        {{ input_text('telefone', 'Telefone', attributes="required autofocus data-mask='telefone'") }}
                        {{ input_password('senha', 'Senha', 'password') }}
                        {{ input_password('confsenha', 'Confirmar Senha', 'password') }}
                        <div>
                            <input type="submit" value="Cadastrar" class="big-button-green">
                        </div>                        
                    </form>
                </div>

                <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <form method="post" action="/post_cadastrar_artesao"> <br>
                        {{ input_text('nome', 'Nome', 'text') }}
                        {{ input_date('data_nascimento', 'Data de Nascimento', attributes="required autofocus") }}
                        {{ input_text('cpf', 'CPF', attributes="required autofocus data-mask='cpf'") }}                        
                        {{ input_select('tipo_comunidade', 'Comunidade', options_comunidades, attributes="required autofocus data-mask='cpf'", div_classes="mb-3") }}                        
                        {{ input_text('cnpj', 'CNPJ', attributes="required autofocus data-mask='cnpj'" ) }}
                        {{ input_text('nome_loja', 'Nome da Loja', 'text') }}
                        {{ input_email('email', 'Email', 'text') }}
                        {{ input_text('telefone', 'Telefone', attributes="required autofocus data-mask='telefone'") }}
                        {{ input_password('senha', 'Senha', 'password') }}
                        {{ input_password('confsenha', 'Confirmar Senha', 'password') }}
                        
                          <div>
                            <input type="submit" value="Cadastrar" class="big-button-green">
                        </div>
                                               
                    </form>
                </div>
            </div>
            <div class="conta p">
                <p>
                    Ao se cadastrar você concorda com os
                </p>
                <p>
                    <a href="/suporte" style="color: inherit;">Termos e Condições</a>
                </p>
            </div>
        </div>
    </div>
</div>

<style>
    .bg-folhas {
        background-image: url('/static/img/fundo/fundoSemLogo.png');
        background-size: 100% 100%;
        height: 80cap;
        z-index: -1000;
    }
    button.nav-link {
        color: black;
    }
    button.active {
        color: rgb(11, 43, 11) !important;
    }
</style>

<script src="/static/js/mascararCampos.js"></script>

{%endblock%}