{% extends "shared/pages/base.html" %}
{% from 'shared/macros.html' import input, button %}
{% block subtitulo %}Entrar{% endblock %}
{% block conteudo %}

<body> 
    <div class="background-image"></div>
    <div class="container">
        <div class="row w-100 d-flex justify-content-center">
            <main class="container my-100 d-flex justify-content-center align-items-center" style="min-height: 90vh;">
                <div class="col-12 col-md-8 col-lg-5">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-center">
                                <form action="/post_entrar" method="post">
                                    <div class="card">
                                        <h3 class="text-center">Entrar</h3> 
                                        <div class="card-body pb-0">
                                            {{ input('email', 'E-mail', 'email') }}
                                            {{ input('senha', 'Senha', 'password') }}
                                        </div>
                                        <div class="text-center">
                                            <button class="btn btn-green">Entrar</button>
                                            <div class="mt-3">
                                                <a href="/cadastrar">Esqueci a senha</a> 
                                            </div>
                                            <div class="mt-3">
                                                Não é cadastrado? <a href="/cadastrar">Clique aqui</a> para se cadastrar.
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </h5>
                        </div>
                    </div>
                </div>
            </main>                              
        </div>
    </div>
</body>

<style>
    .background-image {
        background-image: url('/static/img/fundo/fundoSemLogo.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 150%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1; 
    }

    body {
        font-size: 16px;
    }

    h3 {
        font-size: 20px;
        text-align: center;
        margin-top: 13px;
    }

    .card-body {
        font-size: 1rem;
    }

    a {
        font-size: 0.85rem;
    }

    .btn-green {
        background-color: #0F2B05; 
        color: white; 
        border: none;
        padding: 10px 20px;
        font-size: 1.0rem;
        cursor: pointer;
        border-radius: 9px;
        width: 80%;
        margin: 0 auto;
        display: block;
        transition: background-color 0.3s;
    }

    .btn-green:hover {
        background-color: #0F2B05; 
    }
    .text-center{
        font-size: 15px;
    }
</style>

    
{%endblock%}