{% extends "pages/base.html" %}
{% block subtitulo %}Cadastro{% endblock %}
{% block conteudo %}
<body> 
    <div class="background-image"></div>
    <div class="container-fluid">        
        <div class="row w-100 d-flex justify-content-center">            
            <main class="container my-100 d-flex justify-content-center align-items-center" style="min-height: 110vh;">
                <div class="col-12 col-md-8 col-lg-5">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title text-center">
                                    <form method="post">
                                        
                                        <div class="formulario-inicio">
                                            <br>   
                                            <h3>Cadastro</h3>
                                            <br>
                                            <input type="text" nome ="NomeCompletocompleto" id="txtnomecompleto" size="30" maxlength="30" autocomplete="off" required placeholder="Nome Completo">
                                        </div> 
                                        <div class="formulario-inicio">  
                                            <input type="text" nome ="SenhaCompleta" id="txtdatadenascimento" size="30" maxlength="20" autocomplete="off" required placeholder="Data de Nascimento">
                                        </div>
                                        <div class="formulario-inicio">  
                                            <input type="text" nome ="SenhaCompleta" id="txtsenhacompleta" size="30" maxlength="30" autocomplete="off" required placeholder="Email">
                                        </div>
                                        <div class="formulario-inicio">  
                                            <input type="text" nome ="SenhaCompleta" id="txtsenhacompleta" size="30" maxlength="20" autocomplete="off" required placeholder="Senha">
                                        </div>
                                        <div class="formulario-inicio">  
                                            <input type="text" nome ="SenhaConfirmeCompleta" id="txtsenhaconfirmecompleta" size="30" maxlength="20" autocomplete="off" required placeholder="Confirme a senha">
                                        </div>
                                        <br> 
                                        <div>
                                            <input type="submit" value="Cadastra-se" class="big-button-green">
                                        </div>
                                        <br>
                                        <div class="conta p"> 
                                            <p>
                                                Ao se cadastrar você concorda com os
                                            </p>
                                            <p>
                                                <a href="/suporte" style="color: inherit;">Termos e Condições</a>
                                            </p>
                                        </div>
                                    </form>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>    

    <style>
        .background-image{
            background-image: url('/static/img/fundo/fundoSemLogo.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 150%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1; 
        }
        </style>

{%endblock%}