{% extends "pages/base.html" %}
{% block subtitulo %} Meu Perfil {% endblock %}
{% block carousel %}

<nav id="navbar-example2" class="navbar navbar-dark" style="background-color: #0F2B05;">
  <div class="container">
      <a class="navbar-brand" href="#">Centro Pessoal</a>
  </div>
</nav>

<body class="d-flex flex-column min-vh-100 bg-green">
    <main class="d-flex flex-column flex-grow-1">
        <div class="d-flex flex-grow-1">
            <aside class="coluna-esquerda p-3 d-flex flex-column justify-content-between">
                <div>
                    <div class="profile-section mb-3">
                        <i class="bi bi-person-circle custom-icon" style="color: #0F2B05;"></i>
                    </div>
                    <nav class="nav nav-pills flex-column mt-3">
                        <span class="text-dark-beige">Página Principal</span>
                        <a class="nav-link text-dark-beige" href="#"><i class="bi bi-plus-square"></i>Nova Postagem</a>
                    </nav>
                    <nav class="nav nav-pills flex-column mt-4">
                      <span class="text-dark-beige">Postagens Antigas</span>
                      <a class="nav-link text-dark-beige" href="#"><i class="bi bi-journal-check"></i>Atendidas</a>
                      <a class="nav-link text-dark-beige" href="#"><i class="bi bi-journal-check"></i>Não Atendidas</a>
                    </nav>
                    <nav class="nav nav-pills flex-column mt-4">
                      <span class="text-dark-beige">Bate papo</span>
                      <a class="nav-link text-dark-beige" href="#"><i class="bi bi-chat-square-text"></i> Chat</a>
                    </nav>
                </div>
            </aside>

            <div class="flex-grow-1 d-flex flex-column p-5">
                <section class="mb-4">
                    <h2 class="card-title">NOVA DEMANDA</h2>
                    <hr><br>
                    <h5 class="card-title">Descrição do Produto</h5>
                    <div class="col-md-15">
                        <label for="descricaoProduto" class="form-label sr-only">Descrição do Produto</label>
                        <textarea id="descricaoProduto" class="form-control" rows="6" placeholder="Especifique como você desej que seu produto seja, fornecendo as seguintes características: Cor, Tamanho, Material específico, Quantidade, Medidas (altura, largura, comprimento, profundidade), Prazo desejado para a entrega" onfocus="removePlaceholder(this)" onblur="addPlaceholder(this)"></textarea>
                        
                    </div>
                    <br>
                </section>

                <section>
                    <div class="d-flex align-items-center mb-2">
                        <h5 class="card-title">Imagens de Inspiração</h5>
                        <p class="card-text text-dark-beige me-3">(opcional)</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <i class="bi bi-plus-square" style="font-size: 10rem;"></i>
                        <p class="card-text text-dark-beige ms-3"> Adicione imagens de inspiração para o artesão, exemplificando como você deseja que seu produto seja.</p>
                    </div>
                </section>
                <section>
                    <div class="mb-2">
                        <h5 class="card-title">Categoria:</h5>
                        <br>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Casa</h5>
                                <div class="checkbox-container">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                        <label class="form-check-label" for="inlineCheckbox1">Móveis</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                                        <label class="form-check-label" for="inlineCheckbox2">Velas</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                                        <label class="form-check-label" for="inlineCheckbox3">Esculturas</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
                                        <label class="form-check-label" for="inlineCheckbox4">Vasos</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5">
                                        <label class="form-check-label" for="inlineCheckbox5">Cestos</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option6">
                                        <label class="form-check-label" for="inlineCheckbox6">Cama/Mesa/Banho</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="option7">
                                        <label class="form-check-label" for="inlineCheckbox7">Almofadas</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox8" value="option8">
                                        <label class="form-check-label" for="inlineCheckbox8">Utensílios</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox9" value="option9">
                                        <label class="form-check-label" for="inlineCheckbox9">Quadros/Telas</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox10" value="option10">
                                        <label class="form-check-label" for="inlineCheckbox10">Bordados</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox11" value="option11">
                                        <label class="form-check-label" for="inlineCheckbox11">Macramê</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox12" value="option12">
                                        <label class="form-check-label" for="inlineCheckbox12">Instrumentos</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox13" value="option13">
                                        <label class="form-check-label" for="inlineCheckbox13">Crochê</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox14" value="option14">
                                        <label class="form-check-label" for="inlineCheckbox14">Cerâmicas</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox15" value="option15">
                                        <label class="form-check-label" for="inlineCheckbox15">Louças</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                
                <style>
                    .card {
                        border-radius: 8px;
                        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                    }
                    .card-body {
                        padding: 20px;
                    }
                    .form-check {
                        display: flex;
                        align-items: center;
                        margin-right: 15px;
                    }
                    .form-check-input {
                        margin-right: 5px;
                    }
                    .form-check-label {
                        font-size: 14px;
                        color: #333;
                    }
                    .checkbox-container {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 15px;
                        justify-content: start;
                    }
                </style>                
                             
            </div>
        </div>
    </main>
</body>

{% endblock %}
