{% extends "shared/pages/base.html" %}
{% block subtitulo %}Feed{% endblock %}
{% block conteudo %}

<body> 
    <div class="background-image"></div>
    <div class="container">
        <div class="row  d-flex justify-content-center">
            <main class="container d-flex justify-content-center align-items-center" style="min-height: 90vh;">
                <div class="card text-bg-light mb-10 text-center" style="max-width: 50rem; padding:3rem;">
                    <div class="card-body">

                      <h3 class="card-title">BEM-VINDO AO FEED TUPÃ!</h3>
                      <br>

                        <h5 class="card-text text-secondary">O Feed Tupã é um espaço onde você poderá realizar a postagem de demandas personalizadas para produtos específicos (Ex:"Gostaria de três tábuas de carne em madeira macanaíba, com tamanho de 50x60cm, finalizadas com verniz brilhante"). Essas demandas serão entregues a artesãos especialistas no trabalho com o tipo de material pedido ou produto desejado, possibilitando negociações com produtores interessados no pedido, facilitando então a sua experiência de compra!</h5>

                    </div>

                    <div>
                        <a href="cliente/feedhome" value="Continuar" class="big-button-green">Continuar</a>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <style>
    .background-image{
        background-image: url('/static/img/fundo/fundoSemLogo.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 150%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1; 
    }
    </style>
{%endblock%}