{% extends "pages/base.html" %}
{% block subtitulo %} Meu Perfil {% endblock %}
{% block carousel %}

<nav id="navbar-example2" class="navbar navbar-dark" style="background-color: #0F2B05;">
  <div class="container">
      <a class="navbar-brand" href="#">Feed Home</a>
  </div>
</nav>

<body class="d-flex flex-column min-vh-100 bg-green">
    <main class="d-flex flex-column flex-grow-1">
        <div class="d-flex flex-grow-1">
            <aside class="coluna-esquerda p-3 d-flex flex-column justify-content-between">
                <div>
                    <div class="profile-section mb-3">
                        <i class="bi bi-person-circle custom-icon" style="color: #0F2B05;"></i>
                    </div>
                    <nav class="nav nav-pills flex-column mt-3">
                        <span class="text-dark-beige">Página Principal</span>
                        <a class="nav-link text-dark-beige" href="#"><i class="bi bi-plus-square"></i>Nova Postagem</a>
                    </nav>
                    <nav class="nav nav-pills flex-column mt-4">
                      <span class="text-dark-beige">Postagens Antigas</span>
                      <a class="nav-link text-dark-beige" href="#"><i class="bi bi-journal-check"></i>Atendidas</a>
                      <a class="nav-link text-dark-beige" href="#"><i class="bi bi-journal-check"></i>Não Atendidas</a>
                    </nav>
                    <nav class="nav nav-pills flex-column mt-4">
                      <span class="text-dark-beige">Bate papo</span>
                      <a class="nav-link text-dark-beige" href="#"><i class="bi bi-chat-square-text"></i> Chat</a>
                    </nav>
                </div>
            </aside>

            <div class="flex-grow-1 d-flex flex-column p-5">
                <section class="mb-4">
                    <h2 class="card-title">NOVA DEMANDA</h2>
                    <hr><br>
                    <h5 class="card-title">Descrição do Produto:</h5>
                    <div class="col-md-15">
                        <label for="descricaoProduto" class="form-label sr-only">Descrição do Produto</label>
                        <br>
                        <textarea id="descricaoProduto" class="form-control" rows="6" placeholder="Especifique como você deseja que seu produto seja, fornecendo as seguintes características: Cor, Tamanho, Material específico, Quantidade, Medidas (altura, largura, comprimento, profundidade), Prazo desejado para a entrega." onfocus="removePlaceholder(this)" onblur="addPlaceholder(this)"></textarea>
                        
                    </div>
                    <br>
                </section>

                <section>
                    <div class="d-flex align-items-center mb-2">
                        <h5 class="card-title">Imagens de Inspiração:</h5>
                        <p class="card-text text-dark-beige me-3">(opcional)</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <a class="nav-link text-dark-beige" href="#">
                            <i class="bi bi-plus-square icon-large"></i>
                            Adicione imagens de inspiração para o artesão, exemplificando como você deseja que seja seu produto.
                        </a>
                    </div>
                </section>              
                <section>
                    <div class="mb-2">
                        <h5 class="card-title">
                            Categoria:
                            <span class="category-info">(escolha 1 ou mais)</span>
                        </h5>                        
                        <br>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Casa</h5>
                                <div class="checkbox-container">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="moveis" value="móveis">
                                        <label class="form-check-label" for="móveis">Móveis</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="velas" value="velas">
                                        <label class="form-check-label" for="velas">Velas</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="esculturas" value="esculturas">
                                        <label class="form-check-label" for="esculturas">Esculturas</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="vasos" value="vasos">
                                        <label class="form-check-label" for="vasos">Vasos</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="cestos" value="cestos">
                                        <label class="form-check-label" for="cestos">Cestos</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="cama" value="cama">
                                        <label class="form-check-label" for="cama">Cama/Mesa/Banho</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="almofadas" value="almofadas">
                                        <label class="form-check-label" for="almofadas">Almofadas</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="utensilios" value="utensílios">
                                        <label class="form-check-label" for="utensilios">Utensílios</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="quadros" value="quadros">
                                        <label class="form-check-label" for="quadros">Quadros/Telas</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="bordados" value="bordados">
                                        <label class="form-check-label" for="bordados">Bordados</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="macrame" value="macramê">
                                        <label class="form-check-label" for="macrame">Macramê</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="instrumentos" value="instrumentos">
                                        <label class="form-check-label" for="instrumentos">Instrumentos</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="croche" value="crochê">
                                        <label class="form-check-label" for="croche">Crochê</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="ceramicas" value="cerâmicas">
                                        <label class="form-check-label" for="ceramicas">Cerâmicas</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="loucas" value="louças">
                                        <label class="form-check-label" for="loucas">Louças</label>
                                    </div>
                                </div>
                                <hr>
                                <h5 class="card-title">Corpo</h5>
                                <div class="checkbox-container">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="joias" value="joias">
                                        <label class="form-check-label" for="joias">Joias</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="bijoias" value="bijoias">
                                        <label class="form-check-label" for="bijoias">Bijoias</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="roupas" value="roupas">
                                        <label class="form-check-label" for="roupas">Roupas</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="acessorios" value="acessórios">
                                        <label class="form-check-label" for="acessorios">Acessórios</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="bolsas" value="bolsas">
                                        <label class="form-check-label" for="bolsas">Bolsas</label>
                                    </div>
                                </div>
                                <hr>
                                <h5 class="card-title">Matéria-Prima</h5>
                                <div class="checkbox-container">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="joias" value="joias">
                                        <label class="form-check-label" for="joias">Cerâmica</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="bijoias" value="bijoias">
                                        <label class="form-check-label" for="bijoias">Madeira</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="roupas" value="roupas">
                                        <label class="form-check-label" for="roupas">Ferro</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="acessorios" value="acessórios">
                                        <label class="form-check-label" for="acessorios">Lã</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="bolsas" value="bolsas">
                                        <label class="form-check-label" for="bolsas">Algodão</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="bolsas" value="bolsas">
                                        <label class="form-check-label" for="bolsas">Miçanga</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="bolsas" value="bolsas">
                                        <label class="form-check-label" for="bolsas">Barro</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="bolsas" value="bolsas">
                                        <label class="form-check-label" for="bolsas">Palha</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="bolsas" value="bolsas">
                                        <label class="form-check-label" for="bolsas">Fibras</label>
                                    </div>
                                </div>
                                <hr>
                                <div class="outro-container">
                                    <h5 class="card-title">Outro</h5>
                                    <div class="checkbox-container">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="outro" value="outro">
                                            <label class="form-check-label" for="outro"></label>
                                        </div>
                                        <input type="text" id="inputNome" class="form-control" aria-describedby="nomeHelpInline" required placeholder="Especifique">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <br>
            

                <div class="container">
                    <a href="feedhome.html" class="big-button-green">Enviar</a>
                    <div class="info-text">
                        <h6>As demandas publicadas estarão disponíveis na sessão "Demandas Antigas".</h6>
                        <h6>Caso a demanda realizada não seja atendida no prazo de 15 dias, poderá ser republicada na aba "Demandas não atendidas".</h6>
                    </div>
                </div>
                

                
                
                 <style>
                    .card {
                        border-radius: 8px;
                        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                    }
                    .card-body {
                        padding: 20px;
                    }
                    .form-check {
                        display: flex;
                        align-items: center;
                        margin-right: 15px;
                    }
                    .form-check-input {
                        margin-right: 5px;
                    }
                    .form-check-label {
                        font-size: 14px;
                        color: #333;
                    }
                    .checkbox-container {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 15px;
                        justify-content: start;
                    }
                    .coluna-esquerda {
                        flex-basis: 250px;
                        max-width: 250px; 
                    }
                
                    .flex-grow-1 {
                        flex-grow: 1;
                        min-width: 0;
                    }

                    .checkbox-container {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                    }
                    
                    .form-check {
                        margin: 0;
                    }
                    
                    .form-control {
                        flex: 1;
                    }
                    
                   
                    .icon-large {
                        font-size: 10rem; 
                        margin-right: 15px; 
                    }

                    
                    .nav-link {
                        text-decoration: none; 
                        color: #6c757d; 
                    }

                   
                    .text-dark-beige {
                        color: #d9bfa0; 
                    }

                    
                    .nav-link {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        font-size: 18px;
                    }

                    
                    .container {
                        text-align: center; 
                        padding: 20px; 
                    }


                    .big-button-green:hover {
                        background-color: #218838;
                    }


                    .info-text {
                        margin-top: 20px; 
                    }

                    .info-text h6 {
                        margin: 10px 0;
                        font-size: 15px; 
                        color: #919496;
                        line-height: 1.5; 
                    }

                   
                    .card-title {
                        display: flex;
                        align-items: center; 
                        font-size: 1.25rem; 
                        margin-bottom: 0.5rem; 
                    }


                    .category-info {
                        font-size: 1rem; 
                        color: #6c757d; 
                        margin-left: 10px; 
                    }



                </style>    
                
                <!-- Obs da página: -->
                 <!--1 Mudar o ícone de "perfil" para um ícone de vaso artesanal -->
                 <!--2 Direcionar os botões clicaveis para as páginas e lugares corretos -->
                             
            </div>
        </div>
    </main>
</body>

{% endblock %}