{% extends "pages/base.html" %}
{% block subtitulo %}Matéria Prima{% endblock %}
{% block carousel %}
<nav id="navbar-example2" class="navbar navbar-dark" style="background-color: #0F2B05;">
    <div class="container">
        <a class="navbar-brand">Matéria Prima</a>
    </div>
</nav>
{% endblock %}
{% block conteudo %}
<br>
<br>
    <br> 
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-3 row-cols-xxl-3 g-3"> 
        <div class="col"> 
            <div class="card"> 
                <a href="/loja/produto"> 
                    <img src="/static/img/Produtos/MateriaPrima/algodao.png" class="card-img-top w-100 grupocomunidade-img"> 
                </a> 
            </div> 
        </div> 
        <div class="col"> 
            <div class="card"> 
                <a href="/loja/produto"> 
                    <img src="/static/img/Produtos/MateriaPrima/fibras.png" class="card-img-top w-100 grupocomunidade-img"> 
                </a> 
            </div> 
        </div> 
        <div class="col"> 
            <div class="card"> 
                <a href="/loja/produto"> 
                    <img src="/static/img/Produtos/MateriaPrima/ceramica.png" class="card-img-top w-100 grupocomunidade-img"> 
                </a> 
            </div> 
        </div> 
        <div class="col"> 
            <div class="card"> 
                <a href="/loja/produto"> 
                    <img src="/static/img/Produtos/MateriaPrima/madeira.png" class="card-img-top w-100 grupocomunidade-img"> 
                </a> 
            </div> 
        </div> 
        <div class="col"> 
            <div class="card"> 
                <a href="/loja/produto"> 
                    <img src="/static/img/Produtos/MateriaPrima/ferro.png" class="card-img-top w-100 grupocomunidade-img"> 
                </a> 
            </div> 
        </div> 
    </div> 
<br>
<br>
{% endblock %}
