{% extends "shared/pages/base.html" %}
{% block subtitulo %}Produtos para o Corpo{% endblock %}
{% block carousel %}
<nav id="navbar-example2" class="navbar navbar-dark" style="background-color: #0F2B05;">
    <div class="container">
        <a class="navbar-brand">Produtos para o Corpo </a>
    </div>
</nav>
{% endblock %}
{% block conteudo %}
<br>
<br>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-4 g-3">
    <div class="col">
        <div class="card">
            <a href="/loja/produto">
                <img src="/static/img/Produtos/ProdutosCorpo/panoBordadoLavanda.png" class="card-img-top w-100 produto-img">
            </a>
            <div class="card-body">
                <h5 class="card-title text-center mb-4">
                    <a href="/loja/produto" class="text-decoration-none text-black">Bordado</a>
                </h5>
                <div class="d-flex justify-content-between align-items-center">
                    <p class="lead mb-0">R$ 150,00</p>
                    <a href="/loja/carrinho" class="btn btn-light btn-heart">
                        <i class="bi bi-heart"></i>
                    </a>
                </div>                                     
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <a href="/loja/produto">
                <img src="/static/img/Produtos/ProdutosCorpo/bolsoCamiseta.png" class="card-img-top w-100 produto-img">
            </a>
            <div class="card-body">
                <h5 class="card-title text-center mb-4">
                    <a href="/loja/produto" class="text-decoration-none text-black">Camiseta Bordada</a>
                </h5>
                <div class="d-flex justify-content-between align-items-center">
                    <p class="lead mb-0">R$ 400,00</p>
                    <a href="/loja/carrinho" class="btn btn-light btn-heart">
                        <i class="bi bi-heart"></i>
                    </a>
                </div>                                     
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <a href="/loja/produto">
                <img src="/static/img/Produtos/ProdutosCorpo/ecobag.png" class="card-img-top w-100 produto-img">
            </a>
            <div class="card-body">
                <h5 class="card-title text-center mb-4">
                    <a href="/loja/produto" class="text-decoration-none text-black">Ecobag Bordada</a>
                </h5>
                <div class="d-flex justify-content-between align-items-center">
                    <p class="lead mb-0">R$ 130,00</p>
                    <a href="/loja/carrinho" class="btn btn-light btn-heart">
                        <i class="bi bi-heart"></i>
                    </a>
                </div>                                     
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <a href="/loja/produto">
                <img src="/static/img/Produtos/ProdutosCorpo/colete bordado.png" class="card-img-top w-100 produto-img">
            </a>
            <div class="card-body">
                <h5 class="card-title text-center mb-4">
                    <a href="/loja/produto" class="text-decoration-none text-black">Colete Bordado</a>
                </h5>
                <div class="d-flex justify-content-between align-items-center">
                    <p class="lead mb-0">R$ 550,00</p>
                    <a href="/loja/carrinho" class="btn btn-light btn-heart">
                        <i class="bi bi-heart"></i>
                    </a>
                </div>                                     
            </div>
        </div>
    </div>
</div>
<br>
<br>
{% endblock %}
