{% extends "pages/base.html" %} 
{% block subtitulo %}Cadastro do Artesão{% endblock %} 
 
{% block carousel %} 
<nav id="navbar-example2" class="navbar navbar-dark" style="background-color: #0F2B05;"> 
    <div class="container"> 
        <a class="navbar-brand">Minha Conta</a> 
    </div> 
</nav> 
{% endblock %} 
 
{% block conteudo %} 

<br> <br>
<body> 
    <div class="container">
        <div class="row w-100 d-flex justify-content-center">
            <main class="container my-100 d-flex justify-content-center align-items-center" style="min-height: 50vh;">
                <div class="card text-bg-light mb-5" style="max-width: 30rem; padding:2rem;"> 
                    <div class="card-body">
                        <h3 class="card-title" style="color: #5c5e5b; font-weight: bold">Alterar a data</h3>
                        <br>
                        <h5 class="assn">Data atual</h5>
                        <input type="text" id="inputtext6" class="form-control" aria-describedby="textHelpInline">
                        <br> 
                        <h5 class="assn">Nova data</h5>
                        <input type="text" id="inputtext6" class="form-control" aria-describedby="textHelpInline">
                        <br>
                        <h5 class="assn">Repita a nova data</h5>
                        <input type="text" id="inputtext6" class="form-control" aria-describedby="textHelpInline"> 
                    </div>
                    <div style="display: flex; justify-content: center; gap: 30px;"> 
                        <a href="/cliente/centroPessoal/perfil" value="Continuar" class="small-button-green" style="background-color: #5c5e5b;">Cancelar</a>
                        <a href="/cliente/centroPessoal/perfil" value="Inicio" class="small-button-green">Salvar</a>
                    </div>
                    <br>
                </div>
            </main>
        </div>
    </div>
</body>
    
{%endblock%}