{% extends "shared/pages/base.html" %}
{% block subtitulo %} Devolução e Reembolso {% endblock %}
{% block carousel %}

<nav id="navbar-example2" class="navbar navbar-dark" style="background-color: #0F2B05;">
  <div class="container">
    <a class="navbar-brand">Centro Pessoal</a>
  </div>
</nav>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<main class="d-flex flex-column flex-grow-1 bg-green">
  <div class="d-flex flex-grow-1">
    <aside class="coluna-esquerda p-3 d-flex flex-column justify-content-between bg-white mr-5">
      <div>
          <div class="profile-section mb-3">
              <i class="bi bi-person-circle custom-icon img-thumbnail rounded-full" style="color: #0F2B05;"></i>
              <p class="lead">Márcia da Silva</p>
          </div>
          <nav class="nav nav-pills flex-column mt-2">
              <span class="text-dark-beige">Minha conta</span>
              <a class="nav-link text-dark-beige" href="/cliente/centroPessoal/perfil"><i
                      class="bi bi-person-lines-fill"></i> Meu perfil</a>
              <a class="nav-link text-dark-beige" href="/cliente/centroPessoal/favoritos"><i
                      class="bi bi-clipboard-heart-fill"></i> Favoritos</a>
              <a class="nav-link text-dark-beige" href="/cliente/centroPessoal/enderecossalvos"><i
                      class="bi bi-geo-fill"></i> Endereços cadastrados</a>
              <a class="nav-link text-dark-beige" href="/cliente/centroPessoal/cartoescadastrados"><i
                      class="bi bi-credit-card-2-front-fill"></i> Cartões cadastrados</a>
          </nav>
          <nav class="nav nav-pills flex-column mt-3">
              <span class="text-dark-beige">Meus pedidos</span>
              <a class="nav-link text-dark-beige" href="/cliente/centroPessoal/todosospedidos"><i
                      class="bi bi-boxes"></i> Todos pedidos</a>
              <a class="nav-link text-dark-beige" href="/cliente/centroPessoal/pedidosnaopagos"><i
                      class="bi bi-cash-stack"></i> Pedidos não pagos</a>
              <a class="nav-link text-dark-beige" href="/cliente/centroPessoal/pedidosentregues"><i
                      class="bi bi-emoji-laughing"></i> Pedidos entregues</a>
              <a class="nav-link text-dark-beige" href="/cliente/centroPessoal/processandopedidos"><i
                      class="bi bi-arrow-clockwise"></i> Processando pedidos</a>
              <a class="nav-link text-dark-beige" href="/cliente/centroPessoal/pedidosenviados"><i
                      class="bi bi-truck"></i> Pedidos enviados</a>
              <a class="nav-link text-dark-beige" href="/cliente/centroPessoal/avaliacaoprodutos"><i
                      class="bi bi-star-half"></i> Avaliação de produtos</a>
              <a class="nav-link text-dark-beige" href="/cliente/centroPessoal/devolucaopedidos"><i
                      class="bi bi-skip-backward-circle"></i><strong> Devoluções e reembolsos</strong></a>
          </nav>
          <nav class="nav nav-pills flex-column mt-3">
              <span class="text-dark-beige">Bate papo</span>
              <a class="nav-link text-dark-beige" href="#"><i class="bi bi-chat-square-text"></i> Chat</a>
          </nav>
      </div>
  </aside>
    <section class="flex-grow-1 p-3 bg-light">
      <br>
      <div class="card text mx-auto" style="max-width: 94%; max-height: 52%; position: relative;">
        <div class="card-body">
          <div class="row g-2 align-items-center mb-4">
            <div class="d-flex align-items-center col-12">
              <div>
                <label for="inputNome" class="choose">DEVOLUÇÃO DE PEDIDOS</label>
              </div>
            </div>
            <hr style="margin: 0;">
          </div>
          <div class="row mb-3">
            <div class="col-12 col-md-2 d-flex justify-content-center justify-content-md-end mb-3 mb-md-0">
              <a href="#">
                <img src="https://via.placeholder.com/150" alt="Imagem do Produto" class="img-fluid"
                  style="margin-left: 10px;">
              </a>
            </div>
            <div class="col-12 col-md-9">
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="mt-3">
                    <h6>
                      <i class="bi bi-shop-window" style="color: #0F2B05;"></i> Vasos do Brasil
                    </h6>
                    <p class="text-muted">Kit vasos cerâmica</p>
                    <p class="text-muted" style="color: #0F2B05;"><b>$189,99</b></p>
                  </div>
                </div>
                <div class="col-12 col-md-6 border-start" style="border-color: #6c757d;">
                  <div class="d-flex align-items-start flex-column mt-3" style="padding-left: 15px;">
                    <span style="color: #6c757d; font-size: 1.0rem;"><b>ID do pedido</b> 340NR084D</span>
                    <span style="color: #6c757d; font-size: 1.0rem; margin-top: 10px;"><b>Prazo de troca ou
                        reembolso</b> 15 horas</span>
                    <div class="d-inline-flex mt-2 flex-wrap">
                      <a href="#" class="me-2"
                        style="color: #0F2B05; font-weight: bold; font-size: small; margin-left: 30px; margin-top: 10px;"
                        data-bs-toggle="modal" data-bs-target="#refundModal">Solicitar Reembolso</a>
                      <a href="#" style="color: #0F2B05; font-weight: bold; font-size: small; margin-top: 10px;"
                        data-bs-toggle="modal" data-bs-target="#exchangeModal">Solicitar Troca</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>


<div class="modal fade" id="refundModal" tabindex="-1" aria-labelledby="refundModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="refundModalLabel" style="color: #0F2B05; font-size: 20px;">SOLICITAÇÃO DE REEMBOLSO
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="inputNome" class="form-label">Nome Completo</label>
            <input type="text" class="form-control" id="inputNome">
          </div>
          <div class="mb-3">
            <label for="inputCPF" class="form-label">CPF</label>
            <input type="text" class="form-control" id="inputCPF">
          </div>
          <div class="mb-3">
            <label for="inputTelefone" class="form-label">Telefone</label>
            <input type="text" class="form-control" id="inputTelefone">
          </div>
          <div class="mb-3">
            <label for="inputCodigoPedido" class="form-label">Código do pedido</label>
            <input type="text" class="form-control" id="inputCodigoPedido">
          </div>
          <div class="mb-3">
            <label for="inputDescricao" class="form-label">Descrição do motivo do reembolso</label>
            <textarea class="form-control" id="inputDescricao" rows="4" style="font-size: 12px;"
              placeholder="Dê uma descrição detalhada do motivo pelo qual você está solicitando um reembolso. Inclua todas as informações relevantes, como descrições de problemas específicos e qualquer outra informação que possa nos ajudar a entender e resolver sua solicitação."></textarea>
          </div>
          <div class="mb-3">
            <label for="inputFotos" class="form-label">Fotos para confirmação do reembolso</label>
            <p style="font-size: small; color: #6c757d;">Por favor, envie duas fotos do produto tiradas em ângulos
              distintos e capturadas em um ambiente bem iluminado. Adicionalmente, solicitamos duas fotos da embalagem
              do produto, também com boa iluminação, em diferentes posições, garantindo que os dados de envio estejam
              visíveis.</p>
            <input type="file" class="form-control" id="inputFotos" multiple>
            <div class="form-text">Selecione as fotos para enviar</div>
          </div>
        </form>
      </div>
      <div class="modal-footer d-flex flex-column align-items-center">
        <p style="font-size: small; color: #6c757d;">
          Após o envio da sua solicitação, responderemos dentro de um prazo de 7 dias úteis com as informações
          necessárias.
        </p>
        <a href="#" class="btn"
          style="background-color: #0F2B05; color: white; font-weight: bold; margin-top: 18px;">Enviar Solicitação</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exchangeModal" tabindex="-1" aria-labelledby="exchangeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exchangeModalLabel" style="color: #0F2B05; font-size: 20px;">SOLICITAÇÃO DE TROCA
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="inputNome" class="form-label">Nome Completo</label>
            <input type="text" class="form-control" id="inputNome">
          </div>
          <div class="mb-3">
            <label for="inputCPF" class="form-label">CPF</label>
            <input type="text" class="form-control" id="inputCPF">
          </div>
          <div class="mb-3">
            <label for="inputTelefone" class="form-label">Telefone</label>
            <input type="text" class="form-control" id="inputTelefone">
          </div>
          <div class="mb-3">
            <label for="inputCodigoPedido" class="form-label">Código do pedido</label>
            <input type="text" class="form-control" id="inputCodigoPedido">
          </div>
          <div class="mb-3">
            <label for="inputDescricao" class="form-label">Descrição do motivo da troca</label>
            <textarea class="form-control" id="inputDescricao" rows="4" style="font-size: 12px;"
              placeholder="Dê uma descrição detalhada do motivo pelo qual você está solicitando uma troca. Inclua todas as informações relevantes, como descrições de problemas específicos e qualquer outra informação que possa nos ajudar a entender e resolver sua solicitação."></textarea>
          </div>
          <div class="mb-3">
            <label for="inputFotos" class="form-label">Fotos para confirmação da troca</label>
            <p style="font-size: small; color: #6c757d;">Por favor, envie duas fotos do produto tiradas em ângulos
              distintos e capturadas em um ambiente bem iluminado. Adicionalmente, solicitamos duas fotos da embalagem
              do produto, também com boa iluminação, em diferentes posições, garantindo que os dados de envio estejam
              visíveis.</p>
            <input type="file" class="form-control" id="inputFotos" multiple>
            <div class="form-text">Selecione as fotos para enviar</div>
          </div>
        </form>
      </div>
      <div class="modal-footer d-flex flex-column align-items-center">
        <p style="font-size: small; color: #6c757d;">
          Após o envio da sua solicitação, responderemos dentro de um prazo de 7 dias úteis com as informações
          necessárias.
        </p>
        <a href="#" class="btn"
          style="background-color: #0F2B05; color: white; font-weight: bold; margin-top: 18px;">Enviar Solicitação</a>
      </div>
    </div>
  </div>
</div>


{% endblock %}