{% extends "shared/pages/base.html" %}
{% block subtitulo %} Endereços Salvos {% endblock %}
{% block carousel %}
<nav id="navbar-example2" class="navbar navbar-dark" style="background-color: #0F2B05;">
    <div class="container">
        <a class="navbar-brand">Centro Pessoal</a>
    </div>
</nav>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<main class="d-flex flex-column flex-grow-1 bg-green">
    <div class="d-flex flex-grow-1">
        <aside class="coluna-esquerda p-3 d-flex flex-column justify-content-between bg-white mr-5">
            <div>
                <div class="profile-section mb-3">
                    <i class="bi bi-person-circle custom-icon img-thumbnail rounded-full" style="color: #0F2B05;"></i>
                    <p class="lead">Márcia da Silva</p>
                </div>
                <nav class="nav nav-pills flex-column mt-2">
                    <span class="text-dark-beige">Minha conta</span>
                    <a class="nav-link text-dark-beige" href="/cliente/centroPessoal/perfil"><i
                            class="bi bi-person-lines-fill"></i> Meu perfil</a>
                    <a class="nav-link text-dark-beige" href="/cliente/centroPessoal/favoritos"><i
                            class="bi bi-clipboard-heart-fill"></i> Favoritos</a>
                    <a class="nav-link text-dark-beige" href="/cliente/centroPessoal/enderecossalvos"><i
                            class="bi bi-geo-fill"></i><strong> Endereços cadastrados</strong></a>
                    <a class="nav-link text-dark-beige" href="/cliente/centroPessoal/cartoescadastrados"><i
                            class="bi bi-credit-card-2-front-fill"></i> Cartões cadastrados</a>
                </nav>
                <nav class="nav nav-pills flex-column mt-3">
                    <span class="text-dark-beige">Meus pedidos</span>
                    <a class="nav-link text-dark-beige" href="/cliente/centroPessoal/todosospedidos"><i
                            class="bi bi-boxes"></i> Todos pedidos</a>
                    <a class="nav-link text-dark-beige" href="/cliente/centroPessoal/pedidosnaopagos"><i
                            class="bi bi-cash-stack"></i> Pedidos não pagos</a>
                    <a class="nav-link text-dark-beige" href="/cliente/centroPessoal/pedidosentregues"><i
                            class="bi bi-emoji-laughing"></i> Pedidos entregues</a>
                    <a class="nav-link text-dark-beige" href="/cliente/centroPessoal/processandopedidos"><i
                            class="bi bi-arrow-clockwise"></i> Processando pedidos</a>
                    <a class="nav-link text-dark-beige" href="/cliente/centroPessoal/pedidosenviados"><i
                            class="bi bi-truck"></i> Pedidos enviados</a>
                    <a class="nav-link text-dark-beige" href="/cliente/centroPessoal/avaliacaoprodutos"><i
                            class="bi bi-star-half"></i> Avaliação de produtos</a>
                    <a class="nav-link text-dark-beige" href="/cliente/centroPessoal/devolucaopedidos"><i
                            class="bi bi-skip-backward-circle"></i> Devoluções e reembolsos</a>
                </nav>
                <nav class="nav nav-pills flex-column mt-3">
                    <span class="text-dark-beige">Bate papo</span>
                    <a class="nav-link text-dark-beige" href="#"><i class="bi bi-chat-square-text"></i> Chat</a>
                </nav>
            </div>
        </aside>
        <section class="flex-grow-1 p-3 bg-light">
            <br>
            <div class="card mx-auto" style="max-width: 94%;">
                <div class="card-body">
                    <div class="row g-2 align-items-center mb-2">
                        <div class="d-flex align-items-center col-12">
                            <div>
                                <label for="inputNome" class="choose">ENDEREÇOS SALVOS</label>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row g-2 align-items-center mb-2 p-4">
                        <div class="d-flex flex-column flex-md-row align-items-start w-100">
                            <div class="me-3">
                                <i class="bi bi-geo-alt-fill" style="font-size: 20px;"></i>
                            </div>
                            <div class="flex-grow-1">
                                <span style="font-size: 20px;">MÁRCIA DA SILVA</span>
                                <br>
                                <span style="font-size: 15px; padding: 4px; color: rgb(117, 114, 109);">21
                                    38228-1234</span>
                                <br>
                                <span style="font-size: 15px; padding: 4px; color: rgb(117, 114, 109);">Botafogo,
                                    22290-240</span>
                                <br>
                                <span style="font-size: 15px; padding: 4px; color: rgb(117, 114, 109);">Rio de Janeiro,
                                    Brasil</span>
                                <br>
                                <span style="font-size: 15px; padding: 4px; color: rgb(117, 114, 109);">Avenida Pasteur,
                                    23</span>
                            </div>
                            <div class="d-flex flex-column flex-md-row align-items-center">
                                <button type="button" class="btn mb-2 mb-md-0 me-md-2"
                                    style="background-color: #0F2B05; color: white; margin-top: 90px;"
                                    data-bs-toggle="modal" data-bs-target="#alterarEnderecoModal">Alterar</button>
                                <button type="button" class="btn"
                                    style="background-color: #0F2B05; color: white;margin-top: 90px;">Excluir</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <a href="#" data-bs-toggle="modal" data-bs-target="#categoriaModal"
                style="text-decoration: none; color: inherit;">
                <div class="card" style="border: 2px dashed #c4cac3; max-width: 94%; margin: 0 auto;">
                    <div class="card-body d-flex justify-content-center align-items-center">
                        <button type="button" class="btn btn-link"
                            style="border: none; background: transparent; padding: 0;">
                            <i class="bi bi-plus" style="font-size: 1.5rem; color: #474b46;"></i>
                        </button>
                        <span
                            style="font-size: 0.9rem; color: #474b46; margin-left: 0.5rem; font-weight: bold;">Adicionar
                            novo endereço de entrega</span>
                    </div>
                </div>
            </a>
        </section>

        <div class="modal fade" id="alterarEnderecoModal" tabindex="-1" aria-labelledby="alterarEnderecoModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" style="max-width: 500px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="alterarEnderecoModalLabel">ALTERAR ENDEREÇO</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label for="editAddressName" class="form-label">Nome</label>
                                <input type="text" class="form-control" id="editAddressName"
                                    placeholder="Digite o nome">
                            </div>
                            <div class="mb-3">
                                <label for="editAddressPhone" class="form-label">Telefone</label>
                                <input type="text" class="form-control" id="editAddressPhone"
                                    placeholder="Digite o telefone">
                            </div>
                            <div class="mb-3">
                                <label for="editAddressStreet" class="form-label">Rua</label>
                                <input type="text" class="form-control" id="editAddressStreet"
                                    placeholder="Digite o endereço">
                            </div>
                            <div class="mb-3">
                                <label for="editAddressCity" class="form-label">Cidade</label>
                                <input type="text" class="form-control" id="editAddressCity"
                                    placeholder="Digite a cidade">
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="editAddressState" class="form-label">Estado</label>
                                    <input type="text" class="form-control" id="editAddressState"
                                        placeholder="Digite o estado">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="editAddressPostalCode" class="form-label">CEP</label>
                                    <input type="text" class="form-control" id="editAddressPostalCode"
                                        placeholder="Digite o CEP">
                                </div>
                            </div>
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary"
                                    style="background-color: #0F2B05; color: white;">Salvar Alterações</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="categoriaModal" tabindex="-1" aria-labelledby="categoriaModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" style="max-width: 500px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="categoriaModalLabel" class="choose">NOVO ENDEREÇO</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label for="addressName" class="form-label">Nome</label>
                                <input type="text" class="form-control" id="addressName" placeholder="Digite o nome">
                            </div>
                            <div class="mb-3">
                                <label for="addressPhone" class="form-label">Telefone</label>
                                <input type="text" class="form-control" id="addressPhone"
                                    placeholder="Digite o telefone">
                            </div>
                            <div class="mb-3">
                                <label for="addressStreet" class="form-label">Rua</label>
                                <input type="text" class="form-control" id="addressStreet"
                                    placeholder="Digite o endereço">
                            </div>
                            <div class="mb-3">
                                <label for="addressCity" class="form-label">Cidade</label>
                                <input type="text" class="form-control" id="addressCity" placeholder="Digite a cidade">
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="addressState" class="form-label">Estado</label>
                                    <input type="text" class="form-control" id="addressState"
                                        placeholder="Digite o estado">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="addressPostalCode" class="form-label">CEP</label>
                                    <input type="text" class="form-control" id="addressPostalCode"
                                        placeholder="Digite o CEP">
                                </div>
                            </div>
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary"
                                    style="background-color: #0F2B05; color: white;">Salvar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</main>

{% endblock %}