{% extends "pages/base.html" %}
{% block subtitulo %} Nova Avaliação {% endblock %}
{% block carousel %}
<nav id="navbar-example2" class="navbar navbar-dark" style="background-color: #0F2B05;">
    <div class="container">
        <a class="navbar-brand">Centro Pessoal</a>
    </div>
</nav>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<main class="d-flex flex-column flex-grow-1 bg-green">
    <div class="d-flex flex-grow-1">
        <aside class="coluna-esquerda p-3 d-flex flex-column justify-content-between bg-white mr-5">
            <div>
                <div class="profile-section mb-3">
                    <i class="bi bi-person-circle custom-icon img-thumbnail rounded-full" style="color: #0F2B05;"></i>
                    <p class="lead">Márcia da Silva</p>
                </div>
                <nav class="nav nav-pills flex-column mt-2">
                    <span class="text-dark-beige">Minha conta</span>
                    <a class="nav-link text-dark-beige" href="/cliente/centroPessoal/perfil"><i
                            class="bi bi-person-lines-fill"></i> Meu perfil</a>
                    <a class="nav-link text-dark-beige" href="/cliente/centroPessoal/favoritos"><i
                            class="bi bi-clipboard-heart-fill"></i> Favoritos</a>
                    <a class="nav-link text-dark-beige" href="/cliente/centroPessoal/enderecossalvos"><i
                            class="bi bi-geo-fill"></i> Endereços cadastrados</a>
                    <a class="nav-link text-dark-beige" href="/cliente/centroPessoal/cartoescadastrados"><i
                            class="bi bi-credit-card-2-front-fill"></i> Cartões cadastrados</a>
                </nav>
                <nav class="nav nav-pills flex-column mt-3">
                    <span class="text-dark-beige">Meus pedidos</span>
                    <a class="nav-link text-dark-beige" href="/cliente/centroPessoal/todosospedidos"><i
                            class="bi bi-boxes"></i> Todos pedidos</a>
                    <a class="nav-link text-dark-beige" href="/cliente/centroPessoal/pedidosnaopagos"><i
                            class="bi bi-cash-stack"></i> Pedidos não pagos</a>
                    <a class="nav-link text-dark-beige" href="/cliente/centroPessoal/pedidosentregues"><i
                            class="bi bi-emoji-laughing"></i> Pedidos entregues</a>
                    <a class="nav-link text-dark-beige" href="/cliente/centroPessoal/processandopedidos"><i
                            class="bi bi-arrow-clockwise"></i> Processando pedidos</a>
                    <a class="nav-link text-dark-beige" href="/cliente/centroPessoal/pedidosenviados"><i
                            class="bi bi-truck"></i> Pedidos enviados</a>
                    <a class="nav-link text-dark-beige" href="/cliente/centroPessoal/avaliacaoprodutos"><i
                            class="bi bi-star-half"></i><strong> Avaliação de produtos</strong></a>
                    <a class="nav-link text-dark-beige" href="/cliente/centroPessoal/devolucaopedidos"><i
                            class="bi bi-skip-backward-circle"></i> Devoluções e reembolsos</a>
                </nav>
                <nav class="nav nav-pills flex-column mt-3">
                    <span class="text-dark-beige">Bate papo</span>
                    <a class="nav-link text-dark-beige" href="#"><i class="bi bi-chat-square-text"></i> Chat</a>
                </nav>
            </div>
        </aside>
        <section class="flex-grow-1 p-3 bg-light">
            <br>
            <div class="card text mx-auto" style="max-width: 94%; max-height: auto; position: relative;">
                <div class="card-body">
                    <div class="row g-2 align-items-center mb-4">
                        <div class="d-flex align-items-center col-12">
                            <div>
                                <label for="inputNome" class="choose">AVALIAÇÃO DE PRODUTOS</label>
                            </div>
                        </div>
                        <hr style="margin: 0;">
                    </div>
                    <div class="row mb-3">
                        <div class="col-12 col-md-2 d-flex justify-content-center justify-content-md-end"
                            style="margin-left: 20px;">
                            <a href="#"><img src="https://via.placeholder.com/150" alt="Imagem do Produto"
                                    class="img-fluid"></a>
                        </div>
                        <div class="col-12 col-md-9">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div style="margin-top: 15px;">
                                        <h6>
                                            <i class="bi bi-shop-window" style="color: #0F2B05;"></i> Brasilidades
                                        </h6>
                                        <p class="text-muted">Bolsa de crochê</p>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="d-flex flex-column" style="margin-top: 0; padding-left: 0;">
                                        <span class="rating d-flex justify-content-between"
                                            style="color: #6c757d; font-size: 1.0rem; margin-top: 10px;">
                                            <b>Embalagem</b>
                                            <span class="stars">
                                                <i class="fas fa-star star"></i>
                                                <i class="fas fa-star star"></i>
                                                <i class="fas fa-star star"></i>
                                                <i class="fas fa-star star"></i>
                                                <i class="fas fa-star star"></i>
                                            </span>
                                        </span>
                                        <span class="rating d-flex justify-content-between"
                                            style="color: #6c757d; font-size: 1.0rem; margin-top: 10px;">
                                            <b>Tempo de entrega</b>
                                            <span class="stars">
                                                <i class="fas fa-star star"></i>
                                                <i class="fas fa-star star"></i>
                                                <i class="fas fa-star star"></i>
                                                <i class="fas fa-star star"></i>
                                                <i class="fas fa-star star"></i>
                                            </span>
                                        </span>
                                        <span class="rating d-flex justify-content-between"
                                            style="color: #6c757d; font-size: 1.0rem; margin-top: 10px;">
                                            <b>Produto</b>
                                            <span class="stars">
                                                <i class="fas fa-star star"></i>
                                                <i class="fas fa-star star"></i>
                                                <i class="fas fa-star star"></i>
                                                <i class="fas fa-star star"></i>
                                                <i class="fas fa-star star"></i>
                                            </span>
                                        </span>
                                        <span class="rating d-flex justify-content-between"
                                            style="color: #6c757d; font-size: 1.0rem; margin-top: 10px;">
                                            <b>Custo/Benefício</b>
                                            <span class="stars">
                                                <i class="fas fa-star star"></i>
                                                <i class="fas fa-star star"></i>
                                                <i class="fas fa-star star"></i>
                                                <i class="fas fa-star star"></i>
                                                <i class="fas fa-star star"></i>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#" onclick="document.getElementById('fileInput').click();"
                    style="text-decoration: none; color: inherit;">
                    <div class="card" style="border: 2px dashed #c4cac3; max-width: 96%; margin: 0 auto;">
                        <div class="card-body d-flex flex-column align-items-center justify-content-center"
                            style="height: 150px; padding: 1rem;">
                            <button type="button" class="btn btn-link"
                                style="border: none; background: transparent; padding: 0;">
                                <i class="bi bi-card-image" style="font-size: 4rem; color: #cfd6cd;"></i>
                            </button>
                            <span
                                style="font-size: 0.9rem; color: #cfd6cd; font-weight: bold; margin-top: 0.1rem;">Adicionar
                                imagem</span>
                            <input type="file" id="fileInput" style="display: none;" />
                        </div>
                    </div>
                </a>
                <br>
                <div style="display: flex; justify-content: center;">
                    <button type="button" class="btn"
                        style="background-color: #0F2B05; color: white; padding: 0.25rem 0.75rem; width: 100px; height: auto; font-size: 0.8rem;">Enviar</button>
                </div>
                <br>
            </div>
            <br>
        </section>
</main>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const stars = document.querySelectorAll('.star');

        stars.forEach(star => {
            star.addEventListener('click', () => {
                const isSelected = star.style.color === 'yellow';
                stars.forEach(s => s.style.color = '');
                if (!isSelected) {
                    star.style.color = 'yellow';
                }
            });
        });
    });
</script>

{% endblock %}