{% extends "pages/base.html" %}
{% block subtitulo %} Meu Perfil {% endblock %}
{% block carousel %}

<nav id="navbar-example2" class="navbar navbar-dark" style="background-color: #0F2B05;">
  <div class="container">
      <a class="navbar-brand" href="#">Centro Pessoal</a>
  </div>
</nav>

<body class="d-flex flex-column min-vh-100 bg-green">
    <main class="d-flex flex-column flex-grow-1">
        <div class="d-flex flex-grow-1">
            <aside class="coluna-esquerda p-3 d-flex flex-column justify-content-between">
                <div>
                    <div class="profile-section mb-3">
                        <i class="bi bi-person-circle custom-icon" class="img-thumbnail rounded-full" style="color: #0F2B05;"></i>
                        <p class="lead">Nome do usuário</p>
                    </div>
                    <nav class="nav nav-pills flex-column mt-2">
                        <span class="text-dark-beige"><i></i>Minha conta</span>
                        <a class="nav-link text-dark-beige" href="#"><i class="bi bi-clipboard-data-fill"></i>Meu perfil</a>
                        <a class="nav-link text-dark-beige" href="#"><i class="bi bi-clipboard-data-fill"></i>Endereços cadastrados</a>
                        <a class="nav-link text-dark-beige" href="#"><i class="bi bi-clipboard-data-fill"></i>Cartões cadastrados</a>
                    </nav>
                    <nav class="nav nav-pills flex-column mt-3">
                      <span class="text-dark-beige"><i></i>Meus pedidos</span>
                      <a class="nav-link text-dark-beige" href="#"><i class="bi bi-journal-check"></i>Todos pedidos</a>
                      <a class="nav-link text-dark-beige" href="#"><i class="bi bi-plus-square"></i>Pedidos não pagos</a>
                      <a class="nav-link text-dark-beige" href="#"><i class="bi bi-plus-square"></i>Processando pedidos</a>
                      <a class="nav-link text-dark-beige" href="#"><i class="bi bi-plus-square"></i>Pedidos enviados</a>
                      <a class="nav-link text-dark-beige" href="#"><i class="bi bi-plus-square"></i>Avaliação de produtos</a>
                      <a class="nav-link text-dark-beige" href="#"><i class="bi bi-plus-square"></i>Devoluções e reembolsos</a>
                    </nav>
                    <nav class="nav nav-pills flex-column mt-3">
                      <span class="text-dark-beige"><i></i>Bate papo</span>
                      <a class="nav-link text-dark-beige" href="#"><i class="bi bi-chat-square-text"></i> Chat</a>
                    </nav>
            </aside>
            <section class="flex-grow-1 p-3">
                <div class="card text">
                    <div class="card-body">
                      <h5 class="card-title">Lista de Tarefas</h5>
                      <p class="card-text">Coisas que você precisa gerenciar.</p>
                    </div>
                    <div class="card-footer text-body-secondary">
                      
                    </div>
                  </div>            
                
            </section>
        </div>
    </main>
</body>

{% endblock %}
