{% extends "pages/base.html" %}
{% block subtitulo %} Meu Perfil {% endblock %}
{% block carousel %}

<nav id="navbar-example2" class="navbar navbar-dark" style="background-color: #0F2B05;">
  <div class="container">
      <a class="navbar-brand" href="#">Centro Pessoal</a>
  </div>
</nav>

<main class="d-flex flex-column flex-grow-1 bg-green">
  <div class="d-flex flex-grow-1">
    <aside class="coluna-esquerda p-3 d-flex flex-column justify-content-between bg-white mr-5">
        <div>
            <div class="profile-section mb-3">
                <i class="bi bi-person-circle custom-icon img-thumbnail rounded-full" style="color: #0F2B05;"></i>
                <p class="lead">Márcia da Silva</p>
            </div>
            <nav class="nav nav-pills flex-column mt-2">
                <span class="text-dark-beige">Minha conta</span>
                <a class="nav-link text-dark-beige" href="/cliente/centroPessoal/perfil"><i class="bi bi-clipboard-data-fill"></i> Meu perfil</a>
                <a class="nav-link text-dark-beige" href="/cliente/centroPessoal/enderecossalvos"><i class="bi bi-clipboard-data-fill"></i> Endereços cadastrados</a>
                <a class="nav-link text-dark-beige" href="/cliente/centroPessoal/cartoescadastrados"><i class="bi bi-clipboard-data-fill"></i> Cartões cadastrados</a>
            </nav>
            <nav class="nav nav-pills flex-column mt-3">
                <span class="text-dark-beige">Meus pedidos</span>
                <a class="nav-link text-dark-beige" href="/cliente/centroPessoal/todosospedidos"><i class="bi bi-journal-check"></i> Todos pedidos</a>
                <a class="nav-link text-dark-beige" href="#"><i class="bi bi-plus-square"></i> Pedidos não pagos</a>
                <a class="nav-link text-dark-beige" href="#"><i class="bi bi-plus-square"></i> Processando pedidos</a>
                <a class="nav-link text-dark-beige" href="#"><i class="bi bi-plus-square"></i> Pedidos enviados</a>
                <a class="nav-link text-dark-beige" href="#"><i class="bi bi-plus-square"></i> Avaliação de produtos</a>
                <a class="nav-link text-dark-beige" href="#"><i class="bi bi-plus-square"></i> Devoluções e reembolsos</a>
            </nav>
            <nav class="nav nav-pills flex-column mt-3">
                <span class="text-dark-beige">Bate papo</span>
                <a class="nav-link text-dark-beige" href="#"><i class="bi bi-chat-square-text"></i> Chat</a>
            </nav>
        </div>
    </aside>
    <section class="flex-grow-1 p-3 bg-light">
      <br>
      <div class="card text mx-auto" style="max-width: 94%;">
        <div class="card-body">
          <div class="row g-2 align-items-center mb-2">
            <div class="d-flex align-items-center col-md-12">
              <div>
                <label for="inputNome" class="choose">GERENCIAR MINHA CONTA</label>
              </div>
            </div>
          </div>
          <hr>
          <div class="row g-2 align-items-center mb-2 p-3">
            <div class="d-flex justify-content-between align-items-center w-100">
              <div>
                <span>Nome completo:</span>
                <br>
                <span style="font-size: small;">Márcia da Silva</span>
              </div>
              <button type="button" class="btn" style="background-color: #0F2B05; color: white;" onclick="window.location.href='/cliente/centroPessoal/contaalterarnome'">Alterar</button>
            </div>
          </div>
          <div class="row g-2 align-items-center mb-2 p-3">
            <div class="d-flex justify-content-between align-items-center w-100">
              <div>
                <span>Email:</span>
                <br>
                <span style="font-size: small;">marciasilva@gmail.com</span>
              </div>
              <button type="button" class="btn" style="background-color: #0F2B05; color: white;" onclick="window.location.href='/cliente/centroPessoal/contaalteraremail'">Alterar</button>
            </div>
          </div>
          <div class="row g-2 align-items-center mb-2 p-3">
            <div class="d-flex justify-content-between align-items-center w-100">
              <div>
                <span>Data de Nascimento:</span>
                <br>
                <span style="font-size: small;">23/02/1984</span>
              </div>
              <button type="button" class="btn" style="background-color: #0F2B05; color: white;" onclick="window.location.href='/cliente/centroPessoal/contaalterardata'">Alterar</button>
            </div>
          </div>
          <div class="row g-2 align-items-center mb-2 p-3">
            <div class="d-flex justify-content-between align-items-center w-100">
              <div>
                <span>Senha:</span>
                <br>
                <span style="font-size: small;">*******</span>
              </div>
              <button type="button" class="btn" style="background-color: #0F2B05; color: white;" onclick="window.location.href='/cliente/centroPessoal/contaalterarsenha'">Alterar</button>
            </div>
          </div>
      </div>         
    </section>
  </div>
</main>

{% endblock %}
