{% macro input(name, label, type='text', value='', attributes='') -%}
<div class="form-floating">
    <input type="{{type}}" class="form-control mb-3" id="{{name}}" name="{{name}}" placeholder=" " {{attributes|safe}} value="{{value|e}}">
    <label for="{{name}}">{{label}}</label>
</div>
{%- endmacro %}

{% macro input_text(name, label, attributes='', value='', div_classes='mb-3') %}
<div class="{{div_classes}}">
    <div class="form-floating">
        <input type="text" name="{{name}}" id="{{name}}" class="form-control" placeholder=" " {{attributes|safe}} value="{{value|e}}">
        <label for="{{name}}">{{label}}</label>
    </div>
</div>
{% endmacro %}

{% macro input_date(name, label, attributes='', value='', div_classes='mb-3') %}
<div class="{{div_classes}}">
    <div class="form-floating">
        <input type="date" name="{{name}}" id="{{name}}" class="form-control" placeholder=" " {{attributes|safe}} value="{{value|e}}">
        <label for="{{name}}">{{label}}</label>
    </div>
</div>
{% endmacro %}

{% macro input_email(name, label, attributes='', value='', div_classes='mb-3') %}
<div class="{{div_classes}}">
    <div class="form-floating">
        <input type="email" name="{{name}}" id="{{name}}" class="form-control" placeholder=" " {{attributes|safe}} value="{{value|e}}">
        <label for="{{name}}">{{label}}</label>
    </div>
</div>
{% endmacro %}

{% macro input_password(name, label, attributes='', div_classes='mb-3') %}
<div class="{{div_classes}}">
    <div class="form-floating">
        <input type="password" name="{{name}}" id="{{name}}" class="form-control" placeholder=" " {{attributes|safe}}>
        <label for="{{name}}">{{label}}</label>
    </div>
</div>
{% endmacro %}

{% macro select(name, label, options, attributes='', value='') -%}
<div class="form-floating">
    <select class="form-select" id="{{name}}" name="{{name}}" {{attributes|safe}}>
        <option value="" selected>Escolha uma opção...</option>
        {% for option in options %}
        <option value="{{option['value']}}" {% if value==option['value']: %}selected{% endif %}>{{option['label']}}</option>
        {% endfor %}
    </select>
    <label for="{{name}}">{{label}}</label>    
</div>
{%- endmacro %}

{% macro button(label, color='green') -%}
<button class="btn btn-{{color}} mt-2" type="submit">{{label}}</button>
{%- endmacro %}