{% macro input(name, label, type='text', value='', attributes='') -%}
<div class="form-floating">
    <input type="{{type}}" class="form-control mb-3" id="{{name}}" name="{{name}}" placeholder=" " {{attributes|safe}} value="{{value|e}}">
    <label for="{{name}}">{{label}}</label>
</div>
{%- endmacro %}

{% macro select(name, label, options, attributes='', value='') -%}
<div class="form-floating">
    <select class="form-select" id="{{name}}" name="{{name}}" {{attributes|safe}}>
        <option value="" selected>Escolha uma opção...</option>
        {% for option in options %}
        <option value="{{option['value']}}" {% if value==option['value']: %}selected{% endif %}>{{option['label']}}</option>
        {% endfor %}
    </select>
    <label for="{{name}}">{{label}}</label>    
</div>
{%- endmacro %}

{% macro button(label, color='green') -%}
<button class="btn btn-{{color}} mt-2" type="submit">{{label}}</button>
{%- endmacro %}