{% extends "shared/pages/base.html" %}
{% block subtitulo %}Perfil Loja{% endblock %}
{% block carousel %}
<nav id="navbar-example2" class="navbar navbar-dark" style="background-color: #0F2B05;">
    <div class="container">
        <a class="navbar-brand">Central do Artesão</a>
    </div>
</nav>
<body class="d-flex flex-column min-vh-100 bg-green">
    <main class="d-flex flex-column flex-grow-1">
        <div class="d-flex flex-grow-1">
            <aside class="coluna-esquerda p-3 d-flex flex-column justify-content-between bg-white">
                <div>
                    <div class="profile-section mb-3">
                        <i class="bi bi-person-circle custom-icon" class="img-thumbnail rounded-full" style="color: #0F2B05;"></i>
                        <p class="lead">Nome da loja</p>
                    </div>
                    <nav class="nav nav-pills flex-column mt-2">
                        <span class="text-dark-beige">
                            <i></i>Pedidos
                        </span>
                        <a class="nav-link text-dark-beige" href="/artesao/centraldoartesao/listadetarefas" style="color: #6c757d; text-decoration: none;">
                            <i class="bi bi-clipboard-data-fill"></i>
                            Gerenciar Pedidos
                        </a>
                    </nav>
                    <nav class="nav nav-pills flex-column mt-3">
                        <span class="text-dark-beige">
                            <i></i>Produtos
                        </span>
                        <a class="nav-link text-dark-beige" href="/artesao/centraldoartesao/produtoscadastrados" style="color: #6c757d; text-decoration: none;">
                            <i class="bi bi-journal-check"></i> Produtos cadastrados
                        </a>
                        <a class="nav-link text-dark-beige" href="/artesao/centraldoartesao/adicionarprodutos" style="color: #6c757d; text-decoration: none;">
                            <i class="bi bi-plus-square"></i> Adicionar produtos
                        </a>
                    </nav>
                    <nav class="nav nav-pills flex-column mt-3">
                        <span class="text-dark-beige">
                            <i></i>Atendimento ao cliente
                        </span>
                        <a class="nav-link text-dark-beige" href="/artesao/centraldoartesao/chat" style="color: #6c757d; text-decoration: none;">
                            <i class="bi bi-chat-square-text"></i> Chat
                        </a>
                        <a class="nav-link text-dark-beige" href="/artesao/centraldoartesao/demandas" style="color: #6c757d; text-decoration: none;">
                            <i class="bi bi-piggy-bank-fill"></i> Demanda de produtos
                        </a>
                    </nav>
                    <nav class="nav nav-pills flex-column mt-3">
                        <span class="text-dark-beige">
                            <i class="fas fa-shield-alt"></i>Loja
                        </span>
                        <a class="nav-link text-dark-beige" href="/artesao/centraldoartesao/perfildaloja" style="color: #6c757d; text-decoration: none;">
                            <i class="bi bi-shop-window"></i> 
                            <strong> Perfil da Loja</strong>
                        </a>
                        <a class="nav-link text-dark-beige" href="/artesao/centraldoartesao/configuracoesloja" style="color: #6c757d; text-decoration: none;">
                            <i class="bi bi-gear-fill"></i> Configurações da loja
                        </a>
                        <a class="nav-link text-dark-beige"  onclick="window.location.href='/sair'">
                            <i class="bi bi-box-arrow-right"></i>
                            <strong> Sair</strong>
                        </a>
                    </nav>
                </div>
            </aside>
            <section class="flex-grow-1 p-3 bg-light">
                <h4 class="mb-4 mt-5">
                    <strong>Loja</strong>
                </h4>
                <div class="card bg-white card-externo">
                    <div class="card-body p-0">
                        <div class="header-container">
                            <img src="/static/img/logo/capa2.jpeg" alt="Imagem de Capa" class="img-fluid">
                        </div>
                        <div class="profile-container">
                            <img src="/static/img/logo/icon.png" alt="Foto de Perfil" class="profile-img">
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mt-5"></div>
                    <div class="card-body p-0">
                        <div class="d-flex justify-content-between  mt-4">
                            <h5 class=" mb-4" style="margin-left: 38px;">Nome da Loja</h5>
                            <div class="rating-container">
                                <span class="rating-stars mb-5 ">★★★★★</span>
                                <span>(4.8 de 5)</span>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="title-container">
                    <h5 class="display-5">
                        <b>PRODUTOS DISPONÍVEIS</b>
                    </h5>
                    <div class="divisoria-2"></div>
                    <h5 class="display-6">
                        <a href="/produtosparacasa" style="color: inherit;">
                            <b>Ver tudo</b>
                        </a>
                    </h5>
                </div>
                <br>
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-4 g-3">
                    <div class="col">
                        <div class="card">
                            <a href="/loja/produto">
                                <img src="/static/img/Produtos/ProdutosCasa/bordadoCafe.png" class="card-img-top w-100 produto-img">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title text-center mb-4">
                                    <a href="/loja/produto" class="text-decoration-none text-black">Bordado</a>
                                </h5>
                                <div class="d-flex justify-content-between align-items-center">
                                    <p class="lead mb-0">R$ 300,00</p>
                                    <a href="/loja/carrinho" class="btn btn-light btn-heart">
                                        <i class="bi bi-heart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <a href="/loja/produto">
                                <img src="/static/img/Produtos/ProdutosCasa/peixeFofo.jpg" class="card-img-top w-100 produto-img">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title text-center mb-4">
                                    <a href="/loja/produto" class="text-decoration-none text-black">Luminária de Peixe</a>
                                </h5>
                                <div class="d-flex justify-content-between align-items-center">
                                    <p class="lead mb-0">R$ 400,00</p>
                                    <a href="/loja/carrinho" class="btn btn-light btn-heart">
                                        <i class="bi bi-heart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <a href="/loja/produto">
                                <img src="/static/img/Produtos/ProdutosCasa/portachave.png" class="card-img-top w-100 produto-img">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title text-center mb-4">
                                    <a href="/loja/produto" class="text-decoration-none text-black">Porta Chaves</a>
                                </h5>
                                <div class="d-flex justify-content-between align-items-center">
                                    <p class="lead mb-0">R$ 45,70</p>
                                    <a href="/loja/carrinho" class="btn btn-light btn-heart">
                                        <i class="bi bi-heart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <a href="/loja/produto">
                                <img src="/static/img/Produtos/ProdutosCasa/vasoCeramica.jpg" class="card-img-top w-100 produto-img">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title text-center mb-4">
                                    <a href="/loja/produto" class="text-decoration-none text-black">Vaso de Cerâmica</a>
                                </h5>
                                <div class="d-flex justify-content-between align-items-center">
                                    <p class="lead mb-0">R$ 250,00</p>
                                    <a href="/loja/carrinho" class="btn btn-light btn-heart">
                                        <i class="bi bi-heart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div id="reviews" class="mt-5">
                    <h5 class="display-5">
                        <b>AVALIAÇÕES DE CLIENTES</b>
                    </h5>
                    <br>
                    <div class="card mb-3">
                        <div class="card-body">
                            <p>
                                <strong>João Oliveira</strong>
                                <span class="rating-stars">★★★★☆</span>
                            </p>
                            <p>"Ótimo porta chaves, combina bem com a decoração da minha casa."</p>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-body">
                            <p>
                                <strong>Fernanda Almeida</strong>
                                <span class="rating-stars">★★★★★</span>
                            </p>
                            <p>"Muito bonito e funcional. Recomendo!"</p>
                        </div>
                    </div>
                </div>
            </section>
            <style>
          .header-container {
            position: relative;
          }
          
          .header-container img {
            width: 100%;
            height: auto;
          }
          
          .profile-container {
            position: relative;
            margin-top: -50px;
            padding: 15px;
            display: flex;
            align-items: center;
          }
          
          .profile-img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            border: 3px solid white;
            position: absolute;
            top: -60px;
            left: 25px;
          }
          
          .profile-info {
            text-align: left;
            margin-left: 180px;
          }

          .rating-container {
            margin-right: 25px;
            text-align: right;
          }

          .rating-stars {
            color: gold;
          }
            </style>
        </div>
    </main>
</body>
{% endblock %}
