{% extends "pages/base.html" %}
{% block subtitulo %}Lista de Tarefas{% endblock %}
{% block carousel %}

<nav id="navbar-example2" class="navbar navbar-dark" style="background-color: #0F2B05;">
  <div class="container">
      <a class="navbar-brand">Central do Artesão</a>
  </div>
</nav>

<body class="d-flex flex-column min-vh-100 bg-green">
    <main class="d-flex flex-column flex-grow-1">
        <div class="d-flex flex-grow-1">
            <aside class="coluna-esquerda p-3 d-flex flex-column justify-content-between">
                <div>
                    <div class="profile-section mb-3">
                        <i class="bi bi-person-circle custom-icon" class="img-thumbnail rounded-full" style="color: #0F2B05;"></i>
                        <p class="lead">Nome da loja</p>
                    </div>
                    <nav class="nav nav-pills flex-column mt-2">
                        <span class="text-dark-beige"><i></i>Tarefas</span>
                        <a class="nav-link text-dark-beige" href="/artesaos/centraldoartesao/listadetarefas"><i class="bi bi-clipboard-data-fill"></i>Lista de tarefas</a>
                    </nav>
                    <nav class="nav nav-pills flex-column mt-3">
                      <span class="text-dark-beige"><i></i>Produtos</span>
                      <a class="nav-link text-dark-beige" href="/artesaos/centraldoartesao/produtoscadastrados"><i class="bi bi-journal-check"></i><strong> Produtos cadastrados</strong></a>
                      <a class="nav-link text-dark-beige" href="/artesaos/centraldoartesao/adicionarprodutos"><i class="bi bi-plus-square"></i> Adicionar produtos</a>
                    </nav>
                    <nav class="nav nav-pills flex-column mt-3">
                      <span class="text-dark-beige"><i></i>Atendimento ao cliente</span>
                      <a class="nav-link text-dark-beige" href="/artesaos/centraldoartesao/chat"><i class="bi bi-chat-square-text"></i> Chat</a>
                      <a class="nav-link text-dark-beige" href="/artesaos/centraldoartesao/revisoes"><i class="bi bi-chat-square-quote"></i> Gerenciamento de revisões</a>
                      <a class="nav-link text-dark-beige" href="/artesaos/centraldoartesao/demandas"><i class="bi bi-piggy-bank-fill"></i> Demanda de produtos</a>
                    </nav>
                    <nav class="nav nav-pills flex-column mt-3">
                      <span class="text-dark-beige"><i class="fas fa-shield-alt"></i>Loja</span>
                      <a class="nav-link text-dark-beige" href="/artesaos/centraldoartesao/perfildaloja"><i class="bi bi-shop-window"></i> Perfil da Loja</a>
                      <a class="nav-link text-dark-beige" href="/artesaos/centraldoartesao/configuracoesloja"><i class="bi bi-gear-fill"></i> Configurações da loja</a>
                  </nav>
                </div>

            </aside>
            <section class="flex-grow-1 p-3">
                 <h2>Meus produtos</h2> 
                
            </section>
        </div>
    </main>
</body>

{% endblock %}
