{% extends "pages/base.html" %} 
{% block subtitulo %}Cadastro do Artesão{% endblock %} 
 
{% block carousel %} 
<nav id="navbar-example2" class="navbar navbar-dark" style="background-color: #0F2B05;"> 
    <div class="container"> 
        <a class="navbar-brand" href="#">Cadastro do Artesão</a> 
    </div> 
</nav> 
{% endblock %} 
 
{% block conteudo %} 


<div class="container">
    <div class="background-image"></div>
            <main class="container my-100 d-flex justify-content-center align-items-center" style="min-height: 90vh;">
                <div class="col-lg-5 ">
                    <div class="card">
                        <p> oi</p>
                    </div>
                </div>
            </main>  
        </div>                            
    </div>
</div>



{%endblock%}