{% extends "pages/base.html" %} 
{% block subtitulo %}Cadastro do Artesão{% endblock %} 
 
{% block carousel %} 
<nav id="navbar-example2" class="navbar navbar-dark" style="background-color: #0F2B05;"> 
    <div class="container"> 
        <a class="navbar-brand" href="#">Cadastro do Artesão</a> 
    </div> 
</nav> 
{% endblock %} 
 
{% block conteudo %} 

<br> <br>
<body> 
    <div class="background-image" ></div>
    <div class="container">
        <div class="row w-100 d-flex justify-content-center">
            <main class="container my-100 d-flex justify-content-center align-items-center" style="min-height: 50vh;">
                <div class="card text-bg-light mb-5 text-center" style="max-width: 30rem; padding:2rem;"> 
                    <div class="card-body">
                        <br>
                        <h3 class="card-title" style=" color: #515350">Sua compra foi efetuada!</h3>
                        <i class="bi bi-check-circle-fill" style="font-size: 4rem; color: #0F2b05;"></i>
                        <h5 class="assn">Para acompanhar os benefícios do seu plano, acesse a Central do Artesão</h5> 
                    </div>
                    <div style="display: flex; justify-content: center; gap: 30px;"> 
                        <a href="/artesaos/centraldoartesao/listadetarefas" value="Continuar" class="small-button-green">Central do Artesão</a>
                        <a href="/" value="Inicio" class="small-button-green">Voltar ao início</a>
                    </div>
                    <br>
                </div>
            </main>
        </div>
    </div>
</body>
    
{%endblock%}